[2018-08-27 12:48] iantrich opened #1 "call service"
Would be great if we could have this call a service as well

[2018-08-27 13:28] kuuji commented on #1
Thanks for the suggestion @iantrich . I'll have a look at what needs to be changed.

What was the use case you had in mind?

[2018-08-27 15:35] iantrich commented on #1
I didn't have anything in particular, just came across your card and thought it would be a good addition. I want to add something similar to my list-card for LL and if I get around to that soon, I'll be sure to add a PR here with a similar implementation.

[2018-08-27 16:22] claudioita opened #2 "Name of entity"
Hi, can you add the name of entity_id, I just put 3 in a horizontalk stack and ...

![cattura](https://user-images.githubusercontent.com/23485319/44671547-1dc92200-aa26-11e8-87bd-b02cb64c65fc.JPG)

[2018-08-27 19:52] kuuji commented on #2
Hey @claudioita ! Thanks for your suggestion.
For my use case I didn't need the entity name but it's definitely something I can add.
Where would you want it?

As for your color issue, I changed the color based on the state of the entity. I use the color you specify if the entity state is `on`. If it's anything but `on` it'll be grey. Also something I could allow to customize in a future release.

[2018-08-27 19:57] kuuji commented on #1
@iantrich Your list-card looks awesome! I started working on a custom component to get a list of recent / upcoming release of Nintendo switch games.

I'll definitely try to use your card, seems to fit my need perfectly ;)

[2018-08-27 20:01] matisaul commented on #2
@kuuji Great feature! It would be nice to have a custom name of the entity on "button-center" space, or maybe user could assign the position using top, left options. Like:

[code]

 Thanks!

[2018-08-28 01:29] iantrich commented on #1
Using my custom [feedparser](https://github.com/custom-components/sensor.feedparser) component with this [Switch RSS feed](https://www.nintendo.com/feed)
 and the [list-card](https://github.com/custom-cards/list-card) should get you exactly what you want

[2018-08-28 01:30] kuuji commented on #2
Just pushed a new version with name and custom style support!

[2018-08-28 01:59] matisaul commented on #2
Thanks @kuuji!!!

[2018-08-28 04:29] #2 closed

[2018-08-28 06:37] claudioita commented on #2
Color:
when state is OFF the color is grey (see picture)
when state is ON the color is still grey (same as when OFF)

or am I missing something

[2018-08-28 06:41] simo878 commented on #2
@claudioita  just double check the theme colors if you are using a theme
on color is defined as var(--primary-text-color) and off is var(--disabled-text-color)
so check what those are(might be the same)

[2018-08-28 07:08] claudioita opened #3 "Set own icon"
Some mdi:icon are not working, like
kitchen
monitor-dashboard

both present in the mdi website .. or maybe I am wrong?

[2018-08-28 07:31] claudioita commented on #3
Also possible to use favicon?

[2018-08-28 10:31] claudioita commented on #3
or maybe own icons? I find mdi lacking a lot of icons

[2018-08-28 15:18] kuuji commented on #3
@claudioita thanks for the feedback. Someone suggested something similar on the home-assistant forum.

I'll add the ability to use a custom image in a future release.

[2018-08-30 00:50] jaburges opened #5 "possible to change button color"
Hi there,
working my way through all the lovelace UI docs, and stumbled across your button card (super handy so thank you)
Is it possible to set the color, but instead of it changing the mdi icon, it changes the whole button?

[2018-08-30 12:48] kuuji commented on #5
Hey! Thanks for the suggestion! I'll add an option to do that ;)

[2018-08-30 18:36] jaburges commented on #5
not sure if this helps - but here is an example of the custom-tiles a lot of people used pre-lovelace:

[code]

[2018-09-01 16:38] tatunts opened #6 "Light group does not change icon color"
Hello everyone! Great custom ui, just love it! Thanks for the time and effort.

I was wondering why this happens here: only the light group does not changes the color, like this:

![image](https://user-images.githubusercontent.com/25224882/44947983-f8ecfa00-adeb-11e8-9dfb-8a1c1d2cdc99.png)

Code:

[code]

Thanks.

[2018-09-01 16:44] tatunts commented on #6
I believe this has to do with the color properties available on one of these lights used on the light group. I've noticed that the LED light shows as the color set on HA (warm)...

[2018-09-01 16:56] kuuji commented on #6
@tatunts I looked into some library to calculate rgb colors based on the warmth, but it's a pita and I don't think I should make the frontend that heavy.

If you configure the color on a light it will show only if the rgb_color attribute is not available on that entity. I don't have an option to override that yet

I'm working on more color options right now (override color for lights, color_off, c

[2018-09-02 03:34] kuuji commented on #6
@tatunts I just released a new version with a lot of features related to color. Check it out!

[2018-09-02 03:34] kuuji commented on #5
@jaburges my latest release include an option to do that ;)

[2018-09-02 12:29] #5 closed

[2018-09-02 12:29] #6 closed

[2018-09-03 12:10] tatunts commented on #6
Just tested and works like a charm! Thanks a lot sir, great job here!

[2018-09-03 13:48] lorentzfb opened #8 "Loading glitch on page refresh"
This shows up for a few seconds on when page is refreshed or loads for the first time. Can this be avoided?

![error](https://user-images.githubusercontent.com/29151133/44990220-a6990e00-af90-11e8-97fa-2a6dc318d071.png)

[2018-09-03 17:45] kuuji commented on #8
I'm not sure. All of the Lovelace "modules" that I use do that. The scripts do not.
It looks like an issue in the way Lovelace loads the modules.

^ I'm referring to the type when you include the card resources in ui-lovelace.yaml. This is a `module`, the problem doesn't occur for cards that have a `js` type.

Have you tried searching in the forum? I haven't had time to look into that yet. I'd app

[2018-09-05 18:38] arsaboo opened #11 "Different types of cards do not align correctly"
So, I tried to add two different types of button cards as follows:
[code]
However, they don't align well.
![image](https://user-images.githubusercontent.com/18319734/45113711-19cd8c00-b119-11e8-84a5-fd22c7b1b611.png)

Notice how the state card is slightly smaller than the other cards.

[2018-09-05 19:49] kuuji commented on #11
The size depends on the what the card includes. I did that intentionally because I assumed it would look better in most cases (fix sized could cause issues with bigger or smaller element).

There might be some CSS trick to do something dynamic but I'm not comfortable enough with CSS to do that sort of wizardry.

I would suggest overriding that by setting a fixed height using the `style` setting.

[2018-09-05 22:54] arsaboo commented on #11
That is a perfect solution...thanks!!

[2018-09-05 22:54] #11 closed

[2018-09-06 18:08] pixeye33 opened #12 "unpkg.com dependencies"
Hello,

I just set this up and noticed that it loads a few unpkg.com dependencies.

Is there a way to have all the dependencies hosted localy instead of a third party ?

Thanks !

[2018-09-06 20:52] VDRainer opened #13 "FR: color_type: blank-card as label"
HA forum down, so posting it here.

First: GREAT WORK! I love it! :heart:

It would be nice to add a name , text and background color to the blank-card, so you can use it as label.
In the moment i use:
[code]
as label.

Works, but is clickable and raises error in the log because there's no entity.
![auswahl_147](https://user-images.githubusercontent.com/26381449/45184471-47086000-b227-11e8-8e0e-b0

[2018-09-06 20:56] kuuji commented on #13
Good suggestion. I'll look into that, or something similar for labeling.

That's the default for `paper-button` apparently.
You can change that easily with

[code]

[2018-09-07 06:00] tomerbs opened #14 "auto align the icons in a column"
Please add auto align to your code so icons will not get cut
Thanks.

[2018-09-09 15:09] mrand opened #15 "FR: scale icon while leaving button same size"
The description for size says it resizes the icon, but it actually seems to resize both the icon and the button.

Nothing wrong with that (although you might consider updating the documentation)... except I'd like to scale just the icon while leaving the overall button size unchanged (some icons look too small/large next to others).  It's a minor issue, so if it's more trouble than it's worth, no

[2018-09-14 22:09] jaburges opened #16 "Color based on attribute"
Covered my whole lovelace UI in buttons to control the house - LOVE IT! Thanks

Would it be possible to have a color_trigger based on attribute? I'm thinking of primarily a fan
 (so if the speed = 'low') then the color of the button would change then?
If you had 3 buttons (low, medium, high)
you could set instead of off or on (as the fan doesnt have off or on) color_trigger based on the attribute

[2018-09-24 14:40] matisaul opened #17 "[Request] Group buttons in a card"
Hi,
Thanks for your amazing work!

Is there any chance to group some buttons in a card, with a title? I don't know if already exist this feature or not...

Thanks in advance!

[2018-09-27 11:26] ohadbenita opened #18 "Card can't be used, import clause is said to be broken"
This is the error I get while trying to use Button card with one of my entities :

ERROR (MainThread) [frontend.js.latest.201809160] http://x.x.x.x:8123/local/custom_ui/button-card.js?v=1:1:8 Uncaught SyntaxError: Unexpected token {

Attached is the [Chrome debugger screenshot](https://i.imgur.com/HCGMO5y.png) to emphasize

[2018-09-27 15:07] kuuji commented on #18
@ohadbenita Can you show me your lovelace config? Especially the resources that import the card.

[2018-09-27 20:15] ohadbenita commented on #18
Yes, my relevant lovelace config is :

  - url: /local/custom_ui/button-card.js?v=1
    type: js

`- type: "custom:button-card"
        entity: switch.livingroom_ac
        icon: mdi:home
        color: auto
        color_type: card
        default_color: rgb(255, 233, 155)
        action: more_info
        name: Home
        style:
          - font-size: 12px
          - font-weight: bold`

[2018-09-28 13:28] ohadbenita commented on #18
You are absolutely right, thanks for this, it works now, I'll get to configuring everything using your wonderful card

Thanks a lot again and sorry...

[2018-09-28 13:28] #18 closed

[2018-09-28 16:27] ohadbenita commented on #12
Would be great to have this one fixed

[2018-09-28 18:08] kuuji commented on #12
I'm opened to suggestion in how to do this properly. I do not want to include code from third parties in my repo and what I have now is very flexible if I need to change a version. It also only downloads it only once, the next times it's cached in the browser.

What's the issue with having this remote?

[2018-09-28 21:33] andrewjfreyer commented on #12
@kuuji Thanks again for this work - It's really quite great. The biggest issue with remote host is that certain browsers (including Safari on my end) do not cache the file. So like some users reported in the HA Forum thread, when internet goes out, the resource is unavailable and the button-card fails.

[2018-10-03 19:29] kuradi opened #19 "TypeError: state is undefined"
hassio 0.79.2
getting all the time error
`Log Details (ERROR)

Wed Oct 03 2018 22:23:58 GMT+0300 (FLE Daylight Time)

https://my.ip.address/local/button-card.js:154:26 TypeError: state is undefined`

[2018-10-04 12:54] mredone opened #20 "Add option to make dropdown-list"
Is there a chance to add options, where after clicking on the button, next button are shown underneath
example, after clicking "living room" button, underneath i have buttons from light switches, info from all sensors?

[2018-10-08 12:31] snizzleorg opened #22 "specify number of buttons"
Would be great if the number of buttons that fit into one horizontal line could be specified or if that is not possible the minimum width. I try to fit 5 buttons into one line and depending on the width of the column the 5th does not show up.

[2018-10-08 15:41] kuuji commented on #19
Hey @kuradi! Is that still an issue? If it is can you share more about the entity that's causing problems.

[2018-10-08 16:01] kuuji commented on #14
Are you using a horizontal stack? I think the issue is there, there's no much I can do because it's the container that needs to specify a parameter to make the extra button go to the next line.

[2018-10-08 16:03] kuuji commented on #22
@snizzleorg I believe this is an issue with the horizontal stack card. Right now it always tries to put them horizontally, even if there's not enough space.

There's not much I can do unfortunately, it would require a change to horizontal stack itself.

[2018-10-08 20:31] snizzleorg commented on #22
@kuuji thanks.

[2018-10-10 18:46] jaburges commented on #16
Thanks buddy, dont know how niche the request is - but also thought could be cool to show buttons based on sensor values? temp / color. Ultimately anything that isn't straight on/off

I can also create a switch for each button (switch.fan_slow_speed) which would also solve the problem without any work on the UI side.

Appreciate all your work!

[2018-10-10 22:33] kuuji commented on #16
Thanks mate.

I have both custom state and custom color per state working locally.

I'll show you how the yaml look like and you can give me some feedback ;).
For custom icon per state I think it'll require to change more things but that should be possible eventually as well.

[2018-10-11 01:15] xbmcnut opened #24 "Correct syntax for turning off all lights"
Hi there,

Trying to create a button to turn off all lights. Toggle works but off course turns on all lights that are off in the opposite state which is undesirable. Just want to turn off all lights when pushed and icon tracks all lights state. Below is not working.

[code]

Any help would be appreciated

[2018-10-11 01:19] xbmcnut commented on #24
Disregard. This works.

[code]

[2018-10-11 01:19] #24 closed

[2018-10-11 01:36] xbmcnut opened #25 "[FR] Two icon states"
Hi,

I'd love to be able to track my garage door using one of your buttons and use one icon `mdi:garage` (green) when closed and another icon `mdi:garage-open` (red), when open. Very high WAF.

Is that doable?

[2018-10-11 03:31] kuuji commented on #25
@xbmcnut I have a working version of a new feature that will allow you to do different color for different state but nothing for different icons yet.

For now you can probably have two buttons and control the display with a conditional card. Not ideal but that'd work.

[2018-10-11 06:30] xbmcnut commented on #25
That is great, thank you. The two color icon option would be great for now. I'll keep and eye out.

[2018-10-11 10:15] ohadbenita opened #26 "Fully Kiosk Browser fail to render button card"
Hi, I've installed Fully Kiosk Browser on an Amazon Fire Tablet
I see (attached) that the button cards are rendered incorrectly, anything I should change in my setup to make it work ?

What's needed to troubleshoot this issue ?

Thanks

[2018-10-14 06:42] bradyn12 commented on #17
I solved this by putting the button cards in a horizontal stack card in the [Vertical-Stack-In-Card](https://github.com/custom-cards/vertical-stack-in-card) custom card. You can give a title and they'll be grouped in a card.

[2018-10-14 19:59] galoz11 commented on #22
same problem here,
hope for a fix
thank you

[2018-10-15 13:43] kuuji commented on #26
No he's saying it's an issue with silk / kiosk not supporting html custom elements (shadow DOM).

I would try installing chrome via an apk and see how it goes.

[2018-10-15 13:44] kuuji commented on #22
@galoz11 again, not much I can do. Are you using an horizontal stack?

[2018-10-16 02:34] #17 closed

[2018-10-16 02:36] kuuji commented on #25
Hey @xbmcnut! Here's what I have

[code]

That's a button for a select input. It calls a service to select the next option when you click on it. That was already possible before, now the new thing is the state parameter. Here I defined 3 states with 3 values and 3 different colors.

What do you think?

[2018-10-16 02:38] kuuji commented on #16
@jaburges

[code]

That's a button for a select input. It calls a service to select the next option when you click on it. That was already possible before, now the new thing is the state parameter. Here I defined 3 states with 3 values and 3 different colors.

What do you think?

[2018-10-16 02:38] #14 closed

[2018-10-16 02:38] #19 closed

[2018-10-16 02:49] xbmcnut commented on #25
That's above and beyond. Awesome! That will allow for many variables and is a welcomed addition. Thank you. I look forward to trying it out.

[2018-10-16 03:32] kuuji commented on #25
@xbmcnut It's released!

[2018-10-16 03:33] #13 closed

[2018-10-16 03:35] kuuji commented on #16
Released!

[2018-10-16 03:35] #16 closed

[2018-10-16 03:36] kuuji commented on #25
I renamed your issue. I'm gonna keep it around for the icon part of it. It'll require a bit more work.

[2018-10-16 05:29] xbmcnut opened #28 "Tracker.json URL in instructions wrong?"
Hi there,

Your URL below is wrong so my custom updater is not seeing the new release. Don't know how to edit it or make a PR so leaving it here as an issue.

**You have:**
[code]
**Shoud be?**
[code]

[2018-10-16 12:44] kuuji commented on #28
Thanks for that @xbmcnut! I fixed it on the readme and on the forum post.

[2018-10-16 13:42] #28 closed

[2018-10-16 21:35] ohadbenita commented on #26
I've tried with both Chrome and Silk and it's working fine, so it's
probably related to Fully Kiosk
אוהד בניטה
נייד - 0508246047

   \__/         # ##
         `(  `^=_ p _###_
          c   /  )  |   /
   _____- //^---~  _c  3
 /  ----^\ /^_\   / --,-
(   |  |  O_| \\_/  ,/
|   |  | / \|  `-- /
(((G   |-----|
      //-----\\
     //       \\
   /   |     |  ^|
   |   |     |   |
   |____|    |___

[2018-10-17 22:57] xbmcnut commented on #25
I add the following to test.

[code]
Am I using it correctly as I get the following error.

[code]

[2018-10-18 13:45] kuuji commented on #25
You specified an action service but you didn't define which service and what data to send.

[2018-10-18 22:36] xbmcnut commented on #25
Ah. Just copied your example above and edited entity and items. Will dig deeper.

[2018-10-21 19:05] wbilger opened #29 "Style: width no longer recognized"
Before the latest HA update, I could set the css style 'width: 675px' to modify the width of a column or vertical stack. Since the last HA update, it no longer works, or recognizes that setting.

[2018-10-22 13:45] kuuji commented on #29
I'll have a look. Thanks for reporting this @wbilger

[2018-10-22 15:37] wbilger commented on #29
Thanks, very, very useful feature to be able to setup a nicer grid in lovelace, especially on wall mounted devices.

[2018-10-25 02:36] jaburges commented on #16
awesome work!!!!

[2018-10-25 02:59] jaburges commented on #16
apologies, my coding isnt particularly good - i've got the fan icon to change with on/off ok. is there a way in the 'value' to use an attribute?

[2018-10-25 03:48] bosbefok commented on #16
@jaburges how did you get your fan icon to change with on/off states?

[2018-10-25 13:33] kuuji commented on #16
@bosbefok This is not possible yet. Just colour for now.

[2018-10-26 04:09] jaburges commented on #16
the color part is great - i use 4 buttons on/off, low, med, high

@bosbefok i did get the fan card or icon to change with state (only on or off though)

Only issue is right now is the fanspeed is an attribute of the fan.fan
Not sure how to change in this format.

However interestingly (and thinking out loud) I could use an input_select.fan_speed 'low, medium, high' and then an automation that when

[2018-10-29 20:16] #26 closed

[2018-10-30 14:58] wbilger opened #30 "Toggles all items in group instead of group"
If I use a group entity with the button, it toggles all items in the group, instead of toggling the group.
For example, if one light in the group is on and all others are off, one light will turn back off, and all others will turn on.

[2018-11-02 12:28] slusken opened #31 "Button as a link"
Feature Request
Can the feature that a button can work as a link to a specific site be implemented?
Like:
action: navigate
navigation_path: /lovelace/0

Like the function you have in Picture Elements Card.
Thx for the good work!

[2018-11-02 13:37] kuuji commented on #30
unfortunately @wbilger that's how the toggle service works.

If you want to do this you'll have to do it through a custom switch. Let me show you what I do on my setup

[code]

[2018-11-02 16:17] wbilger commented on #30
Ok, good to know, thanks.

[2018-11-05 14:54] #30 closed

[2018-11-06 10:07] radinsky opened #32 "Using action: sevice brakes color customizing"
When using  'action: service' the "color" (color on) parameter is not working

[2018-11-06 14:31] kuuji commented on #32
@radinsky Can you show me your config? Thanks

[2018-11-06 14:31] kuuji commented on #31
Thanks for the feedback, I'll have a look at that.

[2018-11-06 15:37] radinsky commented on #32
sure,
This one is working with action to trigger my scene (but the color off is not working):
[code]
The button trigger the scene but has a wrong color:
![image](https://user-images.githubusercontent.com/4540268/48074851-84b74400-e1ea-11e8-8421-8c80c1c5eccf.png)

This one with removed "action" section:
[code]
it makes this button with correct color (but the scene is not triggering):
![image](https

[2018-11-06 15:45] kuuji commented on #32
You do not have an entity on the first one. So `color: auto` doesn't know which color to pick.
You'll need an entity with a color attribute for `color: auto` to work.

Also for color_off to work, the entity needs to have an `off` state. So a scene might not have that.

I'd advise using my new state attribute to do what you want to do. You'll need to set the entity to the scene so that you can use

[2018-11-06 16:05] radinsky commented on #32
Ok, adding the "entity" to the first one is solving the issue. Thanks!

[code]
![image](https://user-images.githubusercontent.com/4540268/48076708-75d29080-e1ee-11e8-9bec-5390ecf3c5fb.png)

[2018-11-06 16:05] #32 closed

[2018-11-08 15:10] oyvindhn commented on #25
A possibility for a change of icons as described in #1 would be much appreciated

[2018-11-08 15:42] kuuji commented on #25
There is a way to do that currently actually @oyvindhn.  The button card can use the icon attribute of an entity, so if you have an automation that changes that attribute to whatever you want when on state change, it might work.

I haven't tested that though.

[2018-11-10 16:29] JCGrzywna opened #33 "Removing Shadow on Button"
Is there any way to remove the shadow around the button?

[2018-11-10 22:30] jarrah31 opened #34 "Button Card state option to include entity?"
Would it be possible to make the button colour change based on the state of another entity please? For example, can the State option be expanded to include entities?
[code]
The would allow me to show the number of open windows based on the sensor.windows_open state, but have the button colour as green if all are closed, and red if more than one is open.

This would work when using the following au

[2018-11-14 04:03] simo878 opened #35 "support for long press action?"
I saw in a recent HA update they added long press support. Would be great to define another action for long press (toggle or service call) if possible :)

[2018-11-15 10:51] warwickofthegh commented on #25
I've tried the attribute icon settings, but it isn't working for me, maybe because the garage uses an icon template to set it.

Able to the above senario or using the state - value settings would be awesome

[2018-11-15 14:36] kuuji commented on #25
I'll look into that then ;)

[2018-12-12 19:00] dustins1983 commented on #8
I had this same issue when I first started using this card which was a few days ago. I have several custom items in lovelace and the button car was my last. I thought as a shot in the dark maybe since its listed last, it loads last?

So i ordered it second and it has not done it since. The only other thing I did was eliminate one custom card I am not currently using. My love lace looks like this n

[2018-12-12 19:13] dustins1983 commented on #35
I also would like this, or a double tap option.

I have this set up to be a garage door opener, as the buttons are better than the default cover cards, but id like something to prevent and accidental push.

[2018-12-13 14:43] dustins1983 opened #36 "custom_updater not showing button component"
You custom button car does not show up in my tracker card for custom_updater. All other custom components and custom card are showing up properly. I do have 2 urls for the tracker if that matters. heres my config:

custom_updater:
  track:
    - components
    - cards
  card_urls:
    - https://raw.githubusercontent.com/kuuji/button-card/master/tracker.json
    - https://raw.githubusercontent.com/

[2018-12-13 15:10] Mark612 opened #37 "Glance toggle"
tap_action toggle no longer works with the change implemented in 0.84.0

[2018-12-23 19:55] brianhanifin opened #38 "Change icon based on state"
I used a script to toggle the state of my garage door and the color changes as expected, but I was hoping that I could also change the icon to indicate state.

Here is my example code:
[code]

[2018-12-27 23:02] Hypfer commented on #12
https://github.com/Hypfer/better-button-card

I've rewritten it with no external dependencies whatsoever. Have fun.

[2018-12-28 08:46] ohadbenita commented on #12
Thanks for that ! I opened an issue in the new repo, it seems different and there seems to be some text alignment issues, I'd really appreciate if you could take a look at the screenshots I attached

[2018-12-31 01:43] IIIdefconIII opened #39 "Bug after adding the card to lovelace new storage mode"
Hi there, first of all thanks for that hard work on this!
Whenever i add this card to the UI i cant use the raw config editor anymore.
I can add it can save it
![1](https://user-images.githubusercontent.com/9917659/50553351-6da24900-0ca5-11e9-86e7-cb56a85af98f.png)

But after it has been added and i wanne edit it again, i cant: it keeps loading the card config:
![2](https://user-images.githubuserc

[2018-12-31 04:34] rxritalin commented on #39
I can confirm this very same bug.
Editing some cards that contain the custom button card leads to an infinite loading.
I believe it might have to do with complex cards, like posted above where it contains the button-card inside of a horizontal and vertical stack card.

I have a few and the only one that leads to the loading loop is a vertical and horizontal card.

Likewise I can not edit the Raw f

[2018-12-31 13:02] simonblau commented on #39
I have the same issue.. but i love this component, would be bad to have to remove it! :D
I hope this can be fixed next year. I hope you all start good into the new year!

[2018-12-31 13:19] IIIdefconIII commented on #39
Same this component is really awesome. I guess for now we need to create
the whole assistant and as last step add this card that should do it.

Op ma 31 dec. 2018 14:02 schreef simonblau <notifications@github.com:

[2019-01-09 21:17] IIIdefconIII commented on #39
10 day ago no single response from dev :(

[2019-01-10 16:05] kuuji commented on #39
Feel free to look into it @IIIdefconIII , it's open source.
I'm pretty busy with work and other personal stuff but I'll review PRs

[2019-01-11 05:40] thib5 opened #41 "Add support for RGBA"
Hi ! it could be really cool if we could play with the transparency. so have a fancy background and set the buttons with a 50% transparent when off for exemple

[2019-01-11 21:12] IIIdefconIII commented on #39
haha this is much above my knowledge xD didnt mean to hurt ya feelings, thanks for this, if only storage mode is the problem, im happier then a , a , a im happy, thanks for youre time :)

[2019-01-12 00:03] nicop4 commented on #38
Yes the icon is not used when defined in a state. It was broken in release 0.0.3 with the introduction of the `attribute` functionality.
I submitted a PR to the author, I hope it will be in the next release :)

[2019-01-12 23:01] IIIdefconIII commented on #39
its not button card related, i have the exact same thing, its vertical stack card related

[2019-01-12 23:53] IIIdefconIII commented on #39
migrated post to: https://github.com/home-assistant/home-assistant/issues/20038

cause its not a button card bug but a vertical stack issue

[2019-01-13 05:24] sandro-defender opened #43 "custom element doesn't exist: button-card (Home Assistant 0.85.0)"
after updating to 0.85.0 my lovelace not working :(
![00001](https://user-images.githubusercontent.com/26311682/51081884-a0702680-1714-11e9-8126-aef470705b46.jpg)
[Home Assistant.pdf](https://github.com/ciotlosm/custom-lovelace/files/2752823/Home.Assistant.pdf)

[2019-01-13 16:57] brianhanifin commented on #43
I had the same thing after I upgraded to 0.85.1. It worked for a while, then even though I hadn't changed anything related to my lovelace files it broke after a few refreshes (probably a hard refresh as well). I fixed it by downgrading back to 0.85.0.

[2019-01-14 05:46] IIIdefconIII commented on #39
mm posted it there but refferie says the issue is on the custom card, open in here gain so maybe someone can could make a PR

[2019-01-14 14:45] kuuji commented on #43
I think it has nothing to do with 0.85 but has to do with the cdn I used for the lit-element library.

I tried to look into including that in the code this weekend but it's a pita. The proper solution would be to move off lit-element but that's a bigger project that I don't have time to tackle these days.

[2019-01-14 20:15] nicop4 commented on #38
My bad, may be the functionality was not broken but just not present :)
The PR is on its way to the next release.

[2019-01-15 00:46] PeteCondliffe commented on #43
I haven't done the 0.85 update yet. I'm on 84.6 and  can confirm I have the same issue

[2019-01-15 01:16] VDRainer commented on #43
Maybe this helps?
https://discordapp.com/channels/330944238910963714/460846676358332417/534523831935827979

[2019-01-15 01:21] gmschade commented on #43
had the same problem, changed import address on line 3 to:
https://unpkg-gcp.firebaseapp.com/@polymer/lit-element@0.5.2/lit-element.js?module

[2019-01-15 02:32] romquenin commented on #43
Hello, can you please explain how did you solve it.

Thanks.

[2019-01-15 02:59] rxritalin commented on #39
Yeah its for sure something in Button-Card as I tried out one of the forks
Better-Button-Card and the issue is not present.
If anyone wants to try it, remove the raw entry for button-card.js in the
HASS frontend, then refresh the page.
The cards will error out, but you can at least open them up and get to the
yaml data so you dont have to rebuild the entire card if its something
complex.
Then simp

[2019-01-15 11:56] dvd77 commented on #43
This doesnt work for me ! I already had that line in the button-card.js

The UI is refreshing and every few seconds its displayed ok, then it shows the error message again.. this is repeating

[2019-01-15 12:03] gregcsw commented on #43
Did you clear your cache?

[2019-01-15 14:12] Lopton commented on #43
I will confirm that @gmschade change did fix it for me, but clearing the cache for the asynch files some times can be stubborn, so it took a minute.

[2019-01-15 14:31] kuuji commented on #43
I'll add that to a release today. As well as the pending PR.

Thanks @gmschade

[2019-01-15 14:38] kuuji commented on #39
That might have to do with the fact that I'm using lit-element instead of the standard HtmlElement used by the core cards (and `custom:better-button-card`).

I wish the developer of that card had opened a PR on this project instead, not sure what the value of having 3 different projects is.

I need to roll up my sleeves and start the migration to HtmlElement.

[2019-01-15 15:20] thib5 commented on #43
@kuuji  When you will update it could you add the long press support that Mat Emerson Commit ?

[2019-01-15 17:46] IIIdefconIII commented on #43
im on the same page with this, wait for pr :) thanks dev! for making this awesome card and update it when need!

[2019-01-15 22:04] kuuji commented on #43
@thib5 I'd rather wait for him to get it to work properly with services.

If we release it and people start using it it'll be harder to make design changes.

[2019-01-15 22:34] IIIdefconIII commented on #43
i did a PR to change the url:
https://github.com/kuuji/button-card/compare/master...IIIdefconIII:patch-1

[2019-01-16 03:19] DavidFW1960 commented on #39
I can't edit even in raw mode on any card....

[2019-01-16 03:42] iantrich commented on #39
@kuuji or...hear me out...make our entity button in core awesome :)

[2019-01-16 03:58] DavidFW1960 commented on #39
Unfortunately, they still seem to be arguing over there if it is even a desirable feature! (specifically in my case using a change of colour to indicate the state for an input_boolean for instance)

[2019-01-16 04:02] iantrich commented on #39
Discussing architecture changes is necessary and is not "arguing". This project has been become as successful as it has without there being thought put into things. Kuuji is a good dev and the project needs good devs, things beyond a button ideally. Negative attitudes do nothing for the project and help no one.

[2019-01-16 06:36] sandro-defender commented on #43
same problem again, did't fix for me :( does it help anyone ?

[2019-01-16 06:51] IIIdefconIII commented on #43
Yeahbutton card deels to work after changing the lit url

On Wed, 16 Jan 2019, 07:36 sandro-defender <notifications@github.com wrote:

[2019-01-16 09:37] jonostanck commented on #43
First load is unfortunately with the error but if I refresh it shows the card as it should be. So I guess changing LIT url is not the perfect cure for this issue...

[2019-01-16 15:18] scstraus commented on #43
I'm also having this problem.  It just started disapperaing with no config change.

I tried changing the link as described above the first time it didn’t change anything. I tried to clone it again from github and edit it again, and change that URL. I cleared my cache and rebooted my Pi, didn't work.  Then I put the old button card back (same one I had when this whole mess started), then it worked

[2019-01-16 15:48] kuuji commented on #43
Unfortunately, I can't do that. I looked into it this weekend and these depend on other stuff which also depend on other stuff and that'll be a massive mess to include all of that in the project.

The real solution is to move away from lit-element, and I don't have the time to tackle that these days.

[2019-01-16 20:44] gmschade commented on #43
I have it working with all self hosted, it's ugly and big (2M) but it is working. I will try to get it on github later today. I still have to figure out all of the git stuff :)

[2019-01-16 20:56] scstraus commented on #43
2M is a minuscule price to pay to end this pesky problem!! Thanks!  You can put it anywhere if github is a hassle.

[2019-01-16 21:00] kuuji commented on #43
Yeah @gmschade just send it to me on gitter. I'll take care of releasing it.

[2019-01-16 21:16] gmschade commented on #43
Sorry, having a hard time with figureing out how to upload files on gitter
1. unzip button-card-depends.zip in the www folder
2. change import to /local/button-card-depends/@polymer/lit-element/lit-element.js
[button-card-depends.zip](https://github.com/kuuji/button-card/files/2766067/button-card-depends.zip)

[2019-01-16 21:33] kuuji commented on #43
heh that works. Thanks @gmschade

[2019-01-16 22:41] gmschade commented on #43
I don't really know what the '?module' does. I don't have it, but if it works for you... Was afraid I would get into whack-a-mole with the cdn problem.

Of course, and thank you @kuuji

[2019-01-16 23:44] DavidFW1960 commented on #43
Is this going to be merged today along with @bramkragten PR to fix the edit problem?
Thanks as well @kuuji

[2019-01-17 00:42] mrneilix commented on #35
It was done by Lopton https://github.com/Lopton/button-card
I replaced the JS file, but not sure about updates though

[2019-01-17 04:00] DavidFW1960 commented on #43
Just further to this, my dark-sky card stopped working today as well after updating to 0.86.0b0 but I think that's a coincidence. Replacing the local lit as per gmshade also fixed that so I edited the files in the zip file to use a /local/local-lit folder so as not to make it custom for just the button card and changed the button-card and dark-sky card .js files to point there and it all works.

[2019-01-17 04:18] gmschade commented on #43
ha @DavidFW1960 that pretty much all I did, I downloaded the 0.5.2 lit_element package from npm. spent a little bit bashing out the import issues using atom's "find in project" and the console inspector in chrome.
I kinda felt like it was a sledgehammer instead of a scalpel but if it helps elsewhere, glad to hear it.

[2019-01-17 04:45] iantrich commented on #33
The `style` option says you can already do this, but looking at the code, except for the blank button, style is actually applied to the button element. Perhaps we could have a `button_style` and `card_style`
Once you have `card_style` you just need to then add
[code]

[2019-01-17 12:13] JCGrzywna commented on #33
Ok, I have temporarily solved this with my theme colors in home assistant. Any ideas on these pictures? The layout is proper on a pc web browser but in the home assistant app they don’t seem to resize the ratio correctly. Is there a minimum element size or is it handled in polymer?

Jeremiah Grzywna Curtis

[2019-01-17 14:16] kuuji commented on #43
@DavidFW1960 I was planning to do it yesterday but was caught up with a lot of personal stuff. I'm gonna try to make a release today.

I need to write a small doc for that local dep too

[2019-01-17 14:40] gmschade commented on #43
I just did I little write up for what I did over [here](https://community.home-assistant.io/t/custom-dark-sky-animated-weather-card/59816/571?u=gmschade) if that helps at all.

[2019-01-17 21:02] dustins1983 commented on #36
This definitely still doesn't work, and should be fixed.could help with these issues we are having.

Thanks again for a great add on

[2019-01-17 23:05] DavidFW1960 commented on #43
So the custom-dark-sky weather card here https://github.com/iammexx/home-assistant-config/blob/master/ui/darksky/dark-sky-weather-card.js I hacked it yesterday with the same local-lit fix. But the dev has fixed it so it doesn't need that local lit. @kuuji I'm going to see if I can use that same solution with your card or maybe you might look at that as well??

This is an awesome card.....

[2019-01-17 23:47] DavidFW1960 commented on #43
My clumsy attempt
[code]

I gt a red button card - doesn't work but maybe it's a simple mistake. @bramkragten maybe you can help?

[2019-01-18 21:03] kuuji commented on #43
That's awesome @DavidFW1960 . Let me look into that deeper this week-end. Maybe we don't even need to download lit-element. I like that solution a lot.

I'll try to get that working and released over the weekend. And maybe the long-press action as well.

[2019-01-18 21:08] jonostanck commented on #43
If you are planning on adding long_press maybe consider also adding another CASE for using two sets of services - one for action and one for long_press_action. :)

[2019-01-18 21:45] kuuji commented on #43
Yeah @jonostanck that's what I had in mind. I'll likely do something similar to what's in the core project.

[2019-01-18 22:40] DavidFW1960 commented on #43
Sounds like the best solution... I just hacked bits from the dark-sky card I referenced above but I've missed something cos it doesn't work... I look forward to your genius!

Thanks again for this great card.

[2019-01-19 20:53] bramkragten commented on #43
@DavidFW1960 would love to help, but can't see clearly what you have changed. If you would make a PR I can check it.

[2019-01-20 01:46] DavidFW1960 commented on #43
I didn't want to do a PR because there were still unmerged PR's (like your original fix) and what I have done could be totally wrong.

I was trying to emulate https://github.com/iammexx/home-assistant-config/blob/master/ui/darksky/dark-sky-weather-card.js dark-sky-weather card which he modified to get the LitElement and HTML classes from an already defined HA Lovelace class rather than from the in

[2019-01-20 10:56] bramkragten commented on #43
Yeah that should work, if this element works with the version of Lit home Assistant ships with...

[2019-01-20 20:36] sinker1345 commented on #36
Just installed custom button card. Not working for me either custom_component and tracker card are up to date. Using HA 0.85.1

[2019-01-20 20:41] dustins1983 commented on #36
Funny, it just randomly showed up for me this morning. Thanks!

Dustin Smothers

On Sun, Jan 20, 2019, 3:36 PM sinker1345 <notifications@github.com wrote:

[2019-01-21 01:30] sinker1345 commented on #36
did you perform a restart or do anything different? mine still does not show even after a restart

[2019-01-21 01:37] dustins1983 commented on #36
I have restarted the server a couple of times in the past week. But other
than that no changes.

Dustin Smothers

On Sun, Jan 20, 2019, 8:30 PM sinker1345 <notifications@github.com wrote:

[2019-01-21 02:50] kuuji commented on #43
I just released a version without the remote dependency folks.

I'v had to fix a few things to get it to work but it's should be all good now.

[2019-01-21 04:20] soberstadt commented on #43
I also updated to 23bc58cda2ea2022e09ec278c906f9c0d25cafdb and it's working again. Yay!

[2019-01-21 05:00] IIIdefconIII commented on #43
Thanks kuuji for maintaining one of the best cards

On Mon, 21 Jan 2019, 05:20 Spencer Oberstadt <notifications@github.com
wrote:

[2019-01-21 05:11] #43 closed

[2019-01-21 05:11] #39 closed

[2019-01-21 05:11] #38 closed

[2019-01-21 05:12] #25 closed

[2019-01-21 05:13] #33 closed

[2019-01-21 05:13] #12 closed

[2019-01-21 05:13] #8 closed

[2019-01-21 18:38] thib5 opened #46 "Shell command"
Hi ! i'm trying to find the right syntax to execute a shell command...

I tried this :

[2019-01-21 18:58] kuuji commented on #46
You likely need to use the domain and action fields.

See this example

[code]

So probably something like that for you

[code]

[2019-01-23 22:58] septeven commented on #43
Please reopen.
I still have this problem. I tried to clear the cache, add version to "/local/button-card.js?v=0.0.8", etc.. nothing : I still have the red card. (Hassio 0.85.1)
It only occurs in Safari 11.0.3 (MacOS 10.13.3) though, chrome, safari on ios, etc... are all fine.

Debug tools are displaying these error as well:
"Unhandled Promise Rejection: /local/button-card.js"
"[Error] SyntaxError:

[2019-01-23 23:01] jonostanck commented on #43
@septeven [Here](https://github.com/kuuji/button-card/pull/45#issuecomment-456107477) is the remedy for your problem.

[2019-01-23 23:13] septeven commented on #43
@jonostanck Thanks, but what should I do with it ?

[2019-01-23 23:16] jonostanck commented on #43
@septeven Change in button-card.js:
`{...config}` to `Object.assign({}, config)`

[2019-01-23 23:20] septeven commented on #43
@jonostanck Thanks. It worked perfectly. One question though : Why should I have to edit this since from what I understand, my Safari (11.0.3) should support spread syntax ?

[2019-01-23 23:22] jonostanck commented on #43
@septeven Well I guess it's not - full support (Spread in object literals) starts from 11.1.

[2019-01-24 12:18] #37 closed

[2019-01-27 23:09] jaburges opened #47 "icon_template not followed"
Heya
So not sure if you have enabled this but i cant get my icon_template to work and wanted to check if you either have coded it (and its broken my end) or you havent added it?

Not sure what's easier
icon_on
icon_off

OR
use the icon_template from the entity?

I wondered if its possible to get a little smarter on my remote and a button to show the `mdi:play` icon or `mdi:pause` icon depending on

[2019-01-28 00:06] pruchai commented on #29
any news on this? having same issue

[2019-01-29 12:45] warwickofthegh commented on #46
this is how I call a shell command
`              - type: custom:button-card
                  color_type: card
                  color: rgb(223, 255, 97)
                  icon: mdi:weather-night
                  name: Goodnight
                  size: 27%
                  entity: script.goodnight
                  action: shell_command.goodnight`

with the script / shell command setup up as

`

[2019-01-29 17:51] dannygee87 opened #48 "custom element doesn't exist"
from chrome dev console:

[code]
If i try to open the url from the "import section" of the button-card.js code, theres an error too.

[2019-01-29 18:04] dannygee87 commented on #48
sorry, have to update button-card to latest version. error is gone.

Issue can be closed

[2019-01-29 18:04] #48 closed

[2019-01-30 14:46] skalavala opened #49 "Thank you!"
Just wanted to say **Thank you** for your work! I used the button-cards in my _lovelace_ setup, and I absolutely love it! That is the only custom card I use today. So elegant, easy to setup with great features, and of course well documented repository! We should make this functionality as part of core _lovelace_ so that everyone can enjoy the benefits.

Again, THANK YOU if I wasn't clear enough 😄

[2019-01-31 03:35] iantrich commented on #49
@skalavala @kuuji I do agree that the core button needs to be beefed up, but this card is awesome as is and will likely prosper as a custom card much better. I hope that we can have a custom card store like the hassio add-on store at some point in the near future that will make all these awesome cards easily accessible.

I'll tack on my big THANK YOU as well 😄

[2019-01-31 03:36] iantrich opened #50 "UI Editor"
Can now add UI Editors to custom cards. e.g. my [Roku Card](https://github.com/custom-cards/roku-card/blob/master/roku-card-editor.js)

[2019-01-31 03:58] kuuji commented on #50
Oh that's awesome! Thanks for the example @iantrich. Your Roku cards looks pretty cool too actually, I was looking for something like that for my tv. I'll try it out.

[2019-01-31 04:01] iantrich commented on #50
When the Roku platform released the remote in the last HA update, I couldn't resist making one 😄
I think I mention it in the repo, but it also begs to be used with thomasloven's popup-card
![remote](https://user-images.githubusercontent.com/1287159/52029823-9bfc8980-24da-11e9-8aec-884ac1a4ca6b.gif)

[2019-02-01 13:09] Kroontje opened #51 "TypeError: Cannot read property 'replaceChild' of null"
Since upgraded to HA 86.x the following errors appear in the log when visiting views with the custom button-card component in Chrome and Safari:

`https:/URL:8123/frontend_latest/8ee9235853b66c6b78f9.chunk.js:3254:365 Uncaught TypeError: Cannot read property 'replaceChild' of null`

When I out-comment the custom buttond-card config there is no error.

[2019-02-03 07:09] moskovskiy82 commented on #51
Have the same issue. No matter which config i use

[2019-02-04 21:02] aptonline commented on #35
I send this to be officially supported here.  Can the long press be merged?

[2019-02-05 12:54] RaveGun opened #52 "Toggle opens also the more_info dialog box"
With HA 0.86.4 the toggle does not toggle only, it also opens up the info dialog.

The behaviour is the same under Chrome, Opera and Android Chrome.

I tried also with the branch from Lopton where long_click toggles correctly but a simple don't.

Are there any other events generated now on click?

Thank you.

[2019-02-07 18:00] mrneilix commented on #47
I had to essentially make the icon template a conditional card where based on the state, it would change the icon. Not ideal, but it was the only way I could see my lock's status.

[2019-02-11 01:30] SeanPM5 commented on #31
I would really love this feature too. I just made a pretty nifty "update available" button that shows on my default_view, but then realized "navigate" function wasn't supported.

I was trying to link the button to the Hassio update page. I have this working through the built-in glance card, but this custom button-card is way more pretty: https://i.imgur.com/6OXerZe.png

[code]

[2019-02-13 21:51] mlevit opened #53 "Icon from sensor not working"
Hi,

If I either don't set the icon to any value or set it to `attribute` as stated it doesn't show up at all.

Icons set manually:
![image](https://user-images.githubusercontent.com/233717/52746431-9c963380-3035-11e9-8528-8a32a0b12c96.png)

No icon set manually:
![image](https://user-images.githubusercontent.com/233717/52746460-ac157c80-3035-11e9-9466-b1b488f0e55c.png)

[2019-02-13 22:12] mlevit opened #54 "Numeric states"
Hey,

I would love to see the states accept numeric values and operators (less/greater than etc).

I want to use this for temperature sensors and change the colour of the card based on how hot it is.

[2019-02-13 22:14] mlevit opened #55 "Long tap"
Hey,

For lights we need the option to open the `more_info` window to change the brightness or color of the light... but it makes sense for light buttons to have the action of `toggle` instead of `more_info`. Hence I think a long tap for the `more_info` window would make sense.

[2019-02-15 10:21] alsacian opened #56 "custom:vertical-stack-in-card problem"
In custom:vertical-stack-in-card
get error 'element.setConfig is not a function'

      - type: custom:vertical-stack-in-card
        title: Living Room Light Control
        cards:
          - type: custom:color-picker
            show_header: false
            entity: light.living_room

          - type: "custom:button-card"
            entity: light.living_room
            icon: mdi:sofa

[2019-02-15 10:45] #56 closed

[2019-02-16 00:27] DavidFW1960 opened #57 "0.88.0 Changes"
Please note the breaking change for custom cards from 0.88 release notes:
[code]

I don't know if this is a straight substitution though??

[2019-02-17 15:43] Fma965 commented on #57
doesn't appear to be a straight swap

[2019-02-17 20:32] DavidFW1960 commented on #57
it's supposed to be according to balloob but it doesn't work

[2019-02-18 04:38] iantrich opened #58 "overhaul of core entity-button"
I'm fed up with entity-button, as are many others, and would like to propose moving a good chunk of your awesome work into the core entity-button. I don't think there will ever become a point where core button would be nearly as feature rich as your button-card, and hope you don't think I'm trying to run you out of business :) If anything, I'm hoping that we can make entity-button a lot better so

[2019-02-18 23:22] aptonline commented on #55
This is already available in a fork of the project:
https://github.com/Lopton/button-card

However based on the breaking changes in HA 0.88 it hasn't been updated yet... as hasn't the master.

[2019-02-19 02:15] iantrich commented on #58
@arsaboo passed along your response on the forums which makes it sound like you're okay with this. Let me know if that is not true and thanks for card.

[2019-02-19 02:15] #58 closed

[2019-02-19 12:52] kuuji commented on #58
I'm ok with this @iantrich. As much as I'd like to be involved, I have a lot going on right now and don't have too much time to invest in open source.

[2019-02-19 12:56] kuuji commented on #58
Do you have an idea of which features should be moved first? Maybe we can run a poll...

[2019-02-19 13:02] iantrich commented on #58
I’m going to start small and just allow the hiding of name/icon and not force name to caps.

[2019-02-19 13:03] iantrich commented on #58
And I hear on the busy part. January was crazy on my end, glad to have some free time again :)

[2019-02-20 22:13] IIIdefconIII commented on #57
Same issue here on 0.88.0 i got lots of card not working anymore

[2019-02-20 22:14] IIIdefconIII commented on #51
i got a almost simulair error:

http://10.3.1.2:8123/local/button-card.js?v=0.0.5:1:39 Uncaught TypeError: Cannot convert undefined or null to object

[2019-02-20 22:18] IIIdefconIII opened #61 "Uncaught TypeError: Cannot convert undefined or null to object"
since 0.88
virt env
no traceback

http://10.3.1.2:8123/local/button-card.js?v=0.0.5:1:39 Uncaught TypeError: Cannot convert undefined or null to object

[2019-02-21 03:30] ammmze commented on #57
You can get them to at least load by changing the [first line](https://github.com/kuuji/button-card/blob/9dd6b14150832b20a116895909d1a2b0806afeb6/button-card.js#L1)...
* From `var LitElement = LitElement || Object.getPrototypeOf(customElements.get("hui-error-entity-row"));`
* To `var LitElement = LitElement || Object.getPrototypeOf(customElements.get("hui-generic-entity-row"));`

However, all my i

[2019-02-21 03:34] ammmze commented on #57
And then switching all instances of `paper-button` for `mwc-button` tweaks it a bit more, but still is messed up. So looks like we'll probably need some additional CSS tweaking.
![home assistant 2019-02-20 20-33-13](https://user-images.githubusercontent.com/203336/53141844-efe51600-354e-11e9-97fe-17d32af52f81.png)

[2019-02-21 03:48] ammmze commented on #57
Looks like `mwc-button` has a fixed height :\

https://github.com/material-components/material-components-web-components/issues/81

I wish they would give more explanation on the switch from `paper-button` to `mwc-button`. Seems like the `paper-button` still more/less works. Is it deprecated? 🤷‍♂️

[2019-02-21 04:17] ammmze commented on #57
So I went back to using the `paper-button` and then made some style tweaks. I think I've got it more/less back to what it used to look like...
![home assistant 2019-02-20 21-16-26](https://user-images.githubusercontent.com/203336/53143352-d34bdc80-3554-11e9-9176-542cdcd653d0.png)

[2019-02-21 04:57] DavidFW1960 commented on #57
Yes I did the same exact thing... Did some style tweaks... but have a look at it on a mobile and it's horrible....

[2019-02-21 05:55] ammmze commented on #57
Mine looks the same on mobile as desktop. Running Chrome on Android 9.

https://github.com/ammmze/button-card/blob/ha-0.88/button-card.js

[2019-02-21 06:31] ammmze commented on #57
Also just noting to create the link here, but there is currently an open PR #60 for this issue

[2019-02-21 06:36] DavidFW1960 commented on #57
Yeah aware of the PR.
Can you share the css/styling you are using? and you're using paper-button still right?

[2019-02-21 07:18] ammmze commented on #57
Yea...still using `paper-button`. This is the version I am using successfully with 0.88 ... https://github.com/ammmze/button-card/blob/ha-0.88/button-card.js

[2019-02-21 07:26] ammmze commented on #57
Hmm...but looks like the styles don't work for Firefox. I'll have to look at that more later

[2019-02-21 07:45] DavidFW1960 commented on #57
Yeah.. but can you share your style tweaks? (I’m using chrome anyway... but they should work with FF... pretty generic I would have thought)

I’m using this and it’s ‘ok’ but sucks on mobile.....

[code]

[2019-02-21 09:16] flslz opened #62 "button-card not work in 0.88.0"

[2019-02-21 09:20] artomka commented on #62
https://github.com/kuuji/button-card/pull/60

[2019-02-21 09:32] #62 closed

[2019-02-21 12:47] Bastiencc commented on #57
Thanks for the fix !
I also add this on the labelcard :

[code]

[2019-02-21 13:06] PierpaoloPernici commented on #61
check #57 and #62

[2019-02-21 14:27] ammmze commented on #57
@DavidFW1960 all the style changes I made are in the button-card.js. you can see the diff of the file [here](https://github.com/ammmze/button-card/pull/1/files)

[2019-02-21 15:09] ammmze commented on #57
So I think part of the problem with the inconsistent styles is that the `ha-icon` has a height of `40%` by default, which doesn't really make sense unless the button has a fixed height. By default the button height should be determined by the content. So by saying the icon has a height of 40%...meaning 40% of it's parent height...which is determined by the size of the content, we are essentially i

[2019-02-22 00:36] ammmze commented on #57
Okay...so using [this](http://www.mademyday.de/css-height-equals-width-with-pure-css.html) trick I was able to get it setup so that effectively the icon height is (when set to a percentage) is in relation to the width of the container. And also pulled the styles up to be static (as recommended by lit-html).

Latest changes i'm running are [here](https://github.com/ammmze/button-card/pull/1/files)

[2019-02-22 12:55] kmlucy opened #64 "Uncaught SyntaxError: Identifier 'LitElement' has already been declared"
My button cards are not loading, and I get this error in my logs:
[code]

I've tried updating the `button-card.js` to the version from #63, but get the same error. It's not a caching issue, as I get the same error in an incognito window with a fresh login.

[2019-02-22 13:29] ammmze commented on #64
@kmlucy sounds like you might have another custom component that is also creating a `LitElement` variable. We really probably be scoping our variables so the `var`'s we create at the top of the file don't pollute the javascript `window`. Can you try this version?

[code]

[2019-02-22 13:55] kmlucy commented on #64
@ammmze That fixed it, thanks!

[2019-02-22 13:57] ammmze commented on #41
For something like that, you'd probably want the entire button to have transparency rather than just card background, icon, or label (the `color_type` values). So you can get transparency using the `style` property like this...

[code]

But that doesn't quite get us all the way to what you want...what we need is to be able to set style per state. Currently I think it only supports setting the `col

[2019-02-22 14:01] ohadbenita commented on #64
Fixed for me as well, thanks 👍

[2019-02-22 14:06] artomka commented on #64
That fixed it for me as well, but the font size is much smaller than before.

[2019-02-22 14:29] ammmze commented on #54
This seems feasible. AFAIK we can't use the home assistant jinja templates though, so we'd probably be best to have a defined set of parameters to generate the conditional. For example...

[code]

Not sure what operators we would want in there, but the gist is we would add a couple new parameters to the state objects...

| parameter | default | description |
| --- | --- | --- |
| `operator` | `=`

[2019-02-22 14:31] ohadbenita commented on #64
For me it doesn’t respect the style options at all

On Fri, 22 Feb 2019 at 16:06 artomka <notifications@github.com> wrote:

--
אוהד בניטה
נייד - 0508246047

   \__/         # ##
         `(  `^=_ p _###_
          c   /  )  |   /
   _____- //^---~  _c  3
 /  ----^\ /^_\   / --,-
(   |  |  O_| \\_/  ,/
|   |  | / \|  `-- /
(((G   |-----|
      //-----\\
     //       \\
   /   |     |  ^|
   |   |

[2019-02-22 16:28] ammmze commented on #47
as far as i know you the templates used in the home assistant config files is not possible in lovelace. The reason being the home assistant config is processed server side via the python language (which is the language the template engine (jinja2) is written in). The lovelace config is processed in your browser via javascript so we have no access to the jinja2 templating engine.

[2019-02-22 22:40] DavidFW1960 commented on #57
It's smaller than previously... all 3 of these should be the same size and style.... but pretty close
![image](https://user-images.githubusercontent.com/36390762/53275362-ed510f00-374e-11e9-9112-
56bb0ec3bae8.png)

[2019-02-22 22:51] peterhoe commented on #57
@DavidFW1960 how are you getting the font to display below your button in user and lower case? Using css style?
I seem to get all upper case in a system style font below my buttons (and on some of my system generated buttons as well eg: check configuration button). Perhaps I haven't pulled the latest iteration?

[2019-02-23 00:14] #64 closed

[2019-02-23 01:17] #57 closed

[2019-02-23 03:41] ammmze commented on #61
Buttons should load (once you update your `button-card.js`) now that #63 has been merged

[2019-02-23 09:40] bouwew commented on #61
![image](https://user-images.githubusercontent.com/11290930/53284628-53da2b00-3757-11e9-8d4c-e69c2b09acec.png)

Do this and select

[2019-02-23 14:13] artomka commented on #61
After upgrading to the version 0.0.6 I still have the same error “Cannot convert undefined or null to object”.

[2019-02-23 14:43] bouwew commented on #61
I had the same issue, it is caused by your browser, see the solution for Chrome in my previous post.

[2019-02-23 22:39] IIIdefconIII commented on #61
saw alot of converstation this week, is the one on the main github now the latest?

[2019-02-23 23:34] mrand opened #68 "Current button-card.js might not be compatible with pre-0.88 installs"
I haven't upgrade to 0.88 yet (23 Feb 2019), and it looks like the version of the current button-card doesn't display any buttons.

It seems to work fine if I fall back to this revision immediately before the 0.88 changes:
https://github.com/custom-cards/button-card/blob/9dd6b14150832b20a116895909d1a2b0806afeb6/button-card.js

I don't know that it's worth trying to fix - if others have a problem,

[2019-02-24 00:35] CrazYoshi commented on #61
I empty the cache and reload but I have the same error: "Uncaught TypeError: Cannot convert undefined or null to object"

[2019-02-24 08:00] Bastiencc opened #69 "Custom updater"
Hey
this url is 404, https://raw.githubusercontent.com/kuuji/button-card/master/tracker.json
is there an other tracker to add on custom updater?

[2019-02-24 15:21] ohadbenita commented on #29
Have the same issue for font-size which isn't respected

[2019-02-24 17:54] SeanPM5 commented on #69
[code]

[2019-02-25 08:54] Bastiencc commented on #69
thanks ! i do not need an card_urls on the custom_updater component anymore ?

[2019-02-27 13:13] PlatoNL opened #71 "Custom Style attributes break when color_type is set to Icon"
Running the latest 0.0.6 release with HASS 0.88.1. Title pretty much says it all. Style attributes work perfectly when the color type is set to card, but break when I change the color_type to icon. I'm only doing some text transformation:
               - font-size: 10px
               - text-transform: capitalize

[2019-03-04 02:01] hristo-atanasov commented on #68
It is incompatible with pre 0.88.x. I had 0.86.3 and it wasn't working until I updated to 0.88.x yesterday .. Which totally killed my setup, but hey .. at least button-card is now working .. :D

[2019-03-04 02:17] hristo-atanasov opened #72 "Please add option for mqtt.send service"
I tried:

Also tried:

Well I tried a lot of variants, but no one worked ..

[2019-03-04 06:39] PlatoNL commented on #72
Just do:
[code]
In your lovelace-ui.yaml

and then:
[code]
in your scripts.yaml

[2019-03-12 11:38] PierreScerri opened #73 "iOS10.3"
Hi

Button-card does not work with iOS 10.3. I get 'Custom element doesn't exist'.

Works fine on iOS12 and MacOS Mojave

[2019-03-12 22:22] LeidenSpain opened #74 "Android&chrome: element don't exist"
Hi,

I'm using your custom card with all updated (HA 0.89.1 and the last version of button-card).

I have the problem that the card don't work on android and chrome:
![image](https://user-images.githubusercontent.com/45803748/54240182-9e142800-451d-11e9-9434-8bf867c86e37.png)

The 2 first are the oficial button component, and the other are your card.

I have tried everything but nothing works

Reg

[2019-03-15 01:23] B3voholic opened #75 "Add service for navigation"
Would it be possible to add in the navigation service so on button click it can go to a new page?

Thanks.

[2019-03-16 19:05] aleksandar-todorovic opened #76 "Card seems to change size on click in Firefox"
My entities look like this:

![Screenshot from 2019-03-16 19-54-57](https://user-images.githubusercontent.com/4890548/54480174-7aa2f300-4825-11e9-8bcc-dacaeedafdf8.png)

However, when I click on each individual card, they seem to reduce their height:

![Screenshot from 2019-03-16 19-55-09](https://user-images.githubusercontent.com/4890548/54480215-061c8400-4826-11e9-881e-dd560ee5d54c.png)

There's

[2019-03-21 14:54] nono313 commented on #76
I'm having the same issue running Firefox 66 on Linux. When I click on a button, the whole line gets reduced. It goes back to normal if I resize the window and until I press it again.

[2019-03-22 17:32] ludeeus commented on #74
https://github.com/thomasloven/hass-config/wiki/Lovelace-Plugins#common-problems

[2019-03-22 17:32] #74 closed

[2019-03-22 17:33] ludeeus commented on #73
Most (if not all) custom cards will have this issue.
You should update your hardware, or _maybe_ try chrome on it.

[2019-03-22 17:33] #73 closed

[2019-03-22 17:35] #72 closed

[2019-03-22 17:35] ludeeus commented on #69
correct @Bastiencc

[2019-03-22 17:35] #69 closed

[2019-03-22 17:37] ludeeus commented on #68
By now you should be on a version of HA after this change, or use the version on the OP ☝️

[2019-03-22 17:37] #68 closed

[2019-03-22 17:40] ludeeus commented on #36
No longer valid

[2019-03-22 17:42] #46 closed

[2019-03-22 19:03] PierreScerri commented on #73
Fine suggestion.  Throw away perfectly useable iPad!

And no, quite a few of them work.

Thank you.

[2019-03-22 21:35] LeidenSpain commented on #74
Hi,

I just looked at it again, and now it looks right.

Regards

[2019-03-27 12:35] dustins1983 opened #77 "Password or PIN for button"
I have buttons for my garage door opener, it would be awesome if you could implement a way to add a pin for a button press. Like press the button and then it asks for a pin. Would add a layer of security. Thanks

[2019-03-28 13:17] robertw opened #78 "Navigation"
Great button love it ! could you consider adding the change that Rondom added

- type: "custom:button-card"
      color_type: link-card
      url: /lovelace/7
      name: Climate
      entity:
      icon: mdi:thermometer-lines
      size: 40px
      style:
        - text-transform: none
        - color: black
        - background-color: white
        - font-size: 14px
        - font-weight: normal

[2019-04-01 21:13] scstraus opened #79 "Text only buttons became too small to press on latest release using v90.2 hass"
I have a bunch of buttons defined as below which used to create a quite useful sized button. They don't have icons because there aren't really any I want there. As of the latest update running on v90.2, they have gotten really really short, just barely enough to hold the text. Is there some way to make them taller again (ie, add a border above and below the text)?

[code]

[2019-04-02 16:33] jakob42 commented on #76
Same issue without needing to click. While loading everything looks fine. After all cards are finished loading, it looks smaller, like in the screenshot above. Chrome works fine as well.

[2019-04-14 08:12] RomRider commented on #54
Done with PR #80 which has been merged. Doesn't support only numeric states but everything.

[2019-04-14 13:39] #54 closed

[2019-04-14 13:41] #49 closed

[2019-04-14 13:42] iantrich commented on #78
Duplicate https://github.com/custom-cards/button-card/issues/31

[2019-04-14 13:42] #78 closed

[2019-04-15 22:04] RomRider commented on #41
Done in PR #83

[2019-04-17 15:23] krasatos commented on #34
Came here for exactly the same thing, but for a different application:
I want a switch for my motion detection automations.
On/Off would indicate if the automations are enabled,
Different icons would show me if motion is actually detected.
[code]
Would you consider implementing something like this?
Thanks in advance :)

[2019-04-17 23:03] #31 closed

[2019-04-17 23:03] #53 closed

[2019-04-17 23:03] #75 closed

[2019-04-17 23:03] #41 closed

[2019-04-17 23:03] #71 closed

[2019-04-17 23:11] iantrich commented on #61
Is this still an issue?

[2019-04-17 23:13] iantrich commented on #52
This should be fixed now in 0.1.0

[2019-04-17 23:13] #52 closed

[2019-04-17 23:13] iantrich commented on #47
Use [config-template-card](https://github.com/custom-cards/config-template-card)

[2019-04-17 23:13] #47 closed

[2019-04-17 23:14] iantrich commented on #34
Use [config-template-card](https://github.com/custom-cards/config-template-card). Watching another entity adds complexity to an already very complex card that I think we can avoid by using other plugins

[2019-04-17 23:14] #34 closed

[2019-04-18 04:44] RomRider commented on #76
Should be fixed with #84

[2019-04-18 04:47] RomRider commented on #29
Can you let us know if it's still an issue with the latest version 0.1.x?

[2019-04-18 04:51] RomRider commented on #51
Can you try again with the latest version please?

[2019-04-18 05:01] #76 closed

[2019-04-18 11:03] aleksandar-todorovic commented on #76
I can confirm that this no longer happens after I've updated to 0.1.1. Thanks for the fix!

[2019-04-18 15:03] aleksandar-todorovic commented on #76
Seems like I spoke a bit too soon. Upon restart, I'm getting `TypeError: state is undefined` around lines 413:

    <ha-card style="position: relative;" @tap="${ev => this._handleTap(state, config)}">

...and 488, around this block:

    this.hass.callService('homeassistant', 'toggle', {
        entity_id: state.entity_id,
    });

As a result, the buttons are no longer clickable. The mouse pointe

[2019-04-18 15:18] iantrich commented on #76
Is your entity in /dev-state?

[2019-04-18 17:54] Limych opened #87 "Button-card & weblinks"
Please add the ability to open a weblink at the tap of a button.

[2019-04-18 19:25] wbilger commented on #29
I still cannot get it to work on the newest version.

[2019-04-18 19:59] RomRider commented on #29
@wbilger can you show us your config please? It's hard to reproduce without context.

[2019-04-18 22:27] Tom-ahawk opened #89 "Icon allignment and button with"
Playing with the custom:mini-media-player, and adding speaker overview to see which speakers are are used by the Rotels input sources.

Ten button cards in a horizontal-stack, using color_type: blank-card, for empty space.

Looks like when decreasing the button, the button icon does not stay in the middle of the button.
Just nit-picking, any way to make the icon stay in the center?

Any reason its

[2019-04-18 23:23] RomRider commented on #79
Can you try again with the latest version and also screenshot if it doesn't work please?

[2019-04-18 23:24] RomRider commented on #77
I don't think it belongs here. It can be easily bypassed by using the service call directly.
@iantrich, throughs ?

[2019-04-18 23:29] RomRider commented on #20
I think you should try with the [pop-up card](https://github.com/thomasloven/lovelace-popup-card)

[2019-04-19 00:17] iantrich commented on #77
Use state switch or config-template-card if you want to disable for a user

[2019-04-19 00:17] #77 closed

[2019-04-19 00:46] SeanPM5 opened #90 "FR: Spin Animation"
I've long wanted to be able to make certain icons spin, mainly `mdi:fan` to mimic how fan looks both in real life and also how Apple's HomeKit app does it - [4:34 in this video for an example](https://youtu.be/ZRiDWIHKuz8?t=274).

When @RomRider added the nice blink animation to this card yesterday it reminded me of this item on my wishlist and I tried to see if I could add a spin animation too.

[2019-04-19 07:25] RomRider opened #93 "Button stays selected after click and highlight on hover"
See:
https://community.home-assistant.io/t/lovelace-button-card/65981/583

[2019-04-19 11:30] RomRider commented on #22
Wait for PR #97 for the icons to be aligned in the center but even without it, I manage to have 10 buttons on the same line, please reopen this issue if it's still a problem. Thanks

![Home_Assistant](https://user-images.githubusercontent.com/21064206/56422323-16050900-62a7-11e9-88e7-9942aaa99adb.jpg)

[2019-04-19 11:30] #22 closed

[2019-04-19 12:56] RichardUUU opened #99 "Edit Readme"
In the Readme / Configuration / Main Options:
tap_action | object | optional | See Service

Shouldn't that be:
tap_action | object | optional | See Action

[2019-04-19 13:10] RomRider commented on #99
Thanks, I'll fix all the documentation issues before the next release once everything is merged

[2019-04-19 13:34] krasatos opened #100 "color_off is ignored and overriden by theme's color."
I set up everything alright and declared `color:` and `color_off` on certain entities (switches)

It worked ok for a couple of days and then HA started ignoring my `color_off` setting.
I have no idea what i changed but, before, the `font_size` was ignored, now it works (if this is of any help)
Color when on works as stated but color when off is being ignored and follows the theme's setting.

Here

[2019-04-19 14:20] Tom-ahawk opened #101 "New feature: Round button"
I would be nice to be able to have the option of a button to be round, and configurable diamter.

Like a parameter,
shape: round (default rectangular).
round_diameter: 40px

[2019-04-19 14:27] Tom-ahawk opened #102 "New feature: Radio-button-list"
What I am missing is to tag buttons, so they behave like a group of buttons, like in a radio-button list.
If I press  button no. 1, in the group, the otter buttons in the group goes off. If I press button no. 2 in the group,  button no. 2 goes on, the otter buttons in the group goes off etc.
A new option like, rb_group: “myRbg1”, to each button in a group.
This can be done now, with an automation

[2019-04-19 15:30] iantrich commented on #101
Use `style`

[2019-04-19 15:30] #101 closed

[2019-04-19 15:31] iantrich commented on #102
Sounds like a different card type

[2019-04-19 15:36] SeanPM5 commented on #100
Button was overhauled in the last few days, part of the changes is color_off is deprecated and no longer used. Here is how you would handle different colors for different states:

[code]

[2019-04-19 16:10] Norien opened #103 "Help adding a space between name and state!"
I just updated to `0.1.1` and noticed that the name and state now stack vertically vs horizontal on `0.0.8`

I was able to play around and get the alignment back to horizontal with a style tag
[code]
but I cannot seem to get a space between the name and state no matter what I try.
here is a screenshot of my old frontend on `0.0.8`
![frontend_old](https://user-images.githubusercontent.com/8930713/5

[2019-04-19 16:33] #90 closed

[2019-04-19 16:53] B3voholic commented on #103
I'm missing this as well!  Would love to see it return.

[2019-04-19 17:42] RomRider commented on #103
@Norien @B3voholic it happens because we changed the `span` to a `div`. Waiting for a bunch or PR to be merged in and I will start working on this just after.
Lots of good stuff incoming! 🙂

[2019-04-19 17:46] RomRider commented on #102
@Tom-ahawk, this should be handled by scripts and/or automation. The frontend is not there to manage logic, it's there to display things.

[2019-04-19 17:46] #102 closed

[2019-04-19 17:47] RomRider commented on #100
Thanks for helping with the support @SeanPM5 👍

[2019-04-19 17:52] #100 closed

[2019-04-19 17:55] RomRider commented on #55
Going to work on this after the next batch of PR is merged in.

[2019-04-19 18:07] iantrich commented on #55
@thomasloven has already done most of the leg work on this https://github.com/thomasloven/lovelace-card-tools/blob/c885db9f8eafe756ff24d125cd77a5f44bb9019c/card-tools.js#L220

[2019-04-19 18:18] SeanPM5 opened #104 "label-card styling tweaks"
Since the changes in HA 0.88 the label-card styling has been a little bit off. It doesn't quite look like the example image anymore:

Example Image from docs (prior to button-card 0.6):
![image](https://raw.githubusercontent.com/custom-cards/button-card/master/examples/scenes.png)

Using same config from docs page (then making it uppercase to match) here is how it looks:
![image](https://i.imgur.c

[2019-04-19 18:21] #87 closed

[2019-04-19 18:30] iantrich commented on #104
Rounded corners have been restored in 1.2.0

[2019-04-19 18:33] #20 closed

[2019-04-19 23:05] Norien commented on #20
I've done this a couple times by having an input boolean switch on/off and a conditional card to show and hide!

[2019-04-20 00:06] agrigo2s opened #105 "more_info triggers toggle"
Hi,
ive got this in my ui-lovelace.yaml:
[code]
But it still triggers the toogle and not the more-info-event.
i added    `console.log(config.tap_action);` in line 488 of the button js and my js-console gives me this: `{action: "toggle"}`

regards,
Artur

[2019-04-20 00:22] Norien commented on #105
Assuming you're on latest version you can try this
[code]

[2019-04-20 00:22] iantrich commented on #105
Read the docs. There have been recent breaking changes to action

[2019-04-20 00:24] agrigo2s commented on #105
Works great. Thank you!

[2019-04-20 00:24] #105 closed

[2019-04-20 01:40] SeanPM5 commented on #104
Yay rounded corners! 👍

Here's an attempt I made with the padding, I think this gets it looking very close to how it did before.

[code]

[2019-04-20 05:17] RomRider commented on #104
@SeanPM5,

I understand your point however, I'm not sure we want to override the default of HA `padding: 4% 0px;` because it's also used for the default button from home assistant.
Changing it to `5px` by default for top and bottom will make the `label-card` misaligned with any other default home-assistant button if both are side by side.

Regarding the font, it's the default font of HA and the fo

[2019-04-20 05:42] SeanPM5 commented on #104
I appreciate the thoughtful reply. In my setup I've only used label-card _above_ other elements (exactly like the example image in docs). I didn't consider that particular scenario of how it'd look when placed side by side.

And you're correct, I can customize it to my personal preference using the `style` option, so it's all good. 👍 Closing this issue now, thanks.

[2019-04-20 05:42] #104 closed

[2019-04-20 06:36] RomRider commented on #104
This makes me think also that we might not keep the label-card in the future as you can achieve pretty much the same thing with the `color_type: card`. I'll be experimenting and see if we deprecate it or not.

[2019-04-20 06:39] RomRider opened #107 "Deprecate `color_type: label-card`?"
As per this comment
https://github.com/custom-cards/button-card/issues/104#issuecomment-485063371

Need to experiment a bit.

[2019-04-20 06:53] SeanPM5 commented on #107
That's an interesting idea.

I haven't tested it for several months, so I don't know if this has changed since then (or perhaps my config was wrong, because I was just getting started with Lovelace back then). But I believe the label-card is more limited compared to the normal buttons.

I wanted to have a label-card that toggled an input_boolean to show/hide a conditional "light settings" card und

[2019-04-20 08:38] bouwew commented on #61
No, the provided solution works.

[2019-04-20 11:16] krasatos commented on #100
Thanks guys, and sorry for not reading the latest documentation.
custom_updater got me :)

[2019-04-20 12:04] RomRider commented on #103
@Norien @B3voholic, see PR #108 and please give me feedback on the different layouts.

[2019-04-20 12:47] #61 closed

[2019-04-20 13:52] Norien commented on #103
This is amazing! I can already think of a few cases where I'd like to have a tiny `icon - state` as well as my usual `name: state`

I can't wait for this!

[2019-04-20 20:16] B3voholic opened #109 "[FR] Confirmation Card Text"
Would it be possible for to be able to make our own text for the confirmation popup?

[2019-04-20 20:18] Norien commented on #109
Are you sure you want to restart Home Assistant?
Yes / No

[2019-04-20 22:11] SeanPM5 commented on #109
I'd be interested in this too. Here is a possible ideas of syntax (similar to `state` and `style`):

[code]

or another perhaps easier way:
[code]

[2019-04-20 22:27] iantrich commented on #109
We could make the message configurable but the buttons are set text

[2019-04-21 00:52] jamesdawson3 opened #110 "Toggle doesn't work for locks"
I believe this is a HA limitation, but toggle action doesn't toggle lock domain entities.  My simple workaround is as follows:

Change lines 542-547:
[code]
to
[code]

Hopefully this helps others.

EDIT: Apparently this is also true for covers - added cover functionality too.

[2019-04-21 02:39] jer78 commented on #110
The alternative is to make a template switch and use that instead.

[2019-04-21 02:44] jer78 opened #111 "Feature Request: button height"
There are times, the button doesn’t line up with other components when in a horizontal stack. It would be nice to manually set the height of the button in these cases. Also if using a few Buttons together in a horizontal stack they are too tall. You can shrink them by using blank buttons but it would be nice to have them horizontally take the full width and just manually reduce the height.

[2019-04-21 06:23] RomRider commented on #110
If we start with locks, we'll have to cover the default for each entity type and each state of each entity type.
As there are workarounds for now (templates), we'll set it to low priority.

[2019-04-21 12:44] #89 closed

[2019-04-21 12:44] #93 closed

[2019-04-21 13:04] jamesdawson3 commented on #110
Thanks for the comments guys.  The more I think about this, the more I agree - the workaround shouldn't live in a Lovelace card.  Really the change should be made to the HA core to include toggle for the lock, cover, etc domains.  I think I'll change to template switches for now.

[2019-04-21 16:07] rsachoc opened #112 "Last changed info on button"
Hi, I'd love the ability to add the last changed (secondary info) that exists for the entity card onto the button.

Thanks

[2019-04-21 18:48] RomRider commented on #112
I'll work on this soon. I'll include the possibility to display any of the entity attribute not just the `last_changed`

[2019-04-21 18:50] #55 closed

[2019-04-21 19:45] kmlucy opened #113 "Uncaught SyntaxError: Unexpected token export"
I just upgraded to 0.3.0, and am now getting this error: ``https://FQDN/customcards/button-card.js:6:1 Uncaught SyntaxError: Unexpected token export``

[2019-04-21 21:21] kloggy opened #114 "Using `color_type: card` does not respect rounded corners"
Using  `color_type: card` does not respect rounded corners.

![](https://community-home-assistant-assets.s3.dualstack.us-west-2.amazonaws.com/original/3X/d/6/d6a31463ec11ab19ee2925d3f1b842331d1ecdba.png)

(See https://community.home-assistant.io/t/lovelace-button-card/65981/632)

[2019-04-21 21:32] VDRainer commented on #111
Couldn't this be made with style?
[code]

[2019-04-22 02:10] iantrich commented on #111
This probably used to work, but since the last refactoring to make the button not depend on mwc or paper button, that is no longer true. It is only applied to the outer div, i.e. card, but not the inner icon or text.

@RomRider not sure how you want to approach this, but have three possible solutions I can think of off the top of my head:
1. Introduce `icon` and `text` style options (easy)
2. Reve

[2019-04-22 06:00] RomRider commented on #111
@jer78, in the meantime, can you try something like that please?
[code]

@iantrich, the mwc-button introduced more pain than solutions I think.
I like the idea to have icon and text styling options, it's just going to make the config even more complex :)

[2019-04-22 06:04] #109 closed

[2019-04-22 06:16] RomRider commented on #113
Can you show me your lovelace resource config please?

[2019-04-22 10:16] kmlucy commented on #113
I got it working. I had it as ``type: js`` rather than ``type: module``. Did that change recently? Or was it just luck that it was working before?

[2019-04-22 10:16] #113 closed

[2019-04-22 10:40] RomRider commented on #113
It might just be luck that it worked before 😊

[2019-04-22 11:22] kmlucy commented on #113
Interesting, thanks. Also, are you able to delete this issue? Or is there someone else who can? It's not the biggest deal, but I'd prefer my Home Assistant URL not be public, and while I changed the title, there isn't a way to remove the old title from the issue history.

[2019-04-22 11:41] RomRider commented on #113
@iantrich, can you delete this issue please? I don't have the proper access right to do it.

[2019-04-22 11:46] iantrich commented on #111
Didn't say I liked the idea😉

[2019-04-22 11:50] iantrich commented on #113
N9. But I updated the text

[2019-04-22 12:00] kmlucy commented on #113
@iantrich It's actually the original title that I need removed, not the text of the issue:

![image](https://user-images.githubusercontent.com/13952475/56499505-b12ef600-64d4-11e9-8cae-d49232031345.png)

[2019-04-22 12:13] iantrich commented on #113
Ah. No I can't delete it.

[2019-04-22 15:36] RomRider commented on #99
Done

[2019-04-22 15:36] #99 closed

[2019-04-22 17:14] #114 closed

[2019-04-22 20:28] SeanPM5 opened #118 "Styling doesn't seem to work if name or icon is hidden"
I have a light card with five custom button-cards underneath. Each button is simply responsible for setting color of my desk light strip.

This is what it looks like:

![image](https://i.imgur.com/Q3mefXz.png)

I was attempting to experiment with styling and make the color buttons just a little bit taller. After experimenting I noticed that `style` option doesn't seem to work if you have both name

[2019-04-22 20:49] RomRider commented on #118
@SeanPM5 instead of `line-height`, can you try with `padding: 16px 0px`?

Nice use case by the way, I like it!

[2019-04-22 22:26] SeanPM5 commented on #118
Thank you! Your suggestion worked fine so I'll close this issue now :)

[2019-04-22 22:26] #118 closed

[2019-04-23 02:49] mrand commented on #111
Depending on how this could be done, it might resolve #15 as well.  Or not :-)

[2019-04-23 06:01] RomRider commented on #107
I don't know before, but now the label card supports tap_action and hold_action. And in the next version, the code to render `color_type: card` and `color_type: label card` is exacte same.
If you define a button without entity, it's not going to display any icon, just the name you've set, or nothing if there's no name (as you did in #118)

[2019-04-23 06:25] RomRider commented on #107
I don't know before, but now the label card supports tap_action and hold_action. And in the next version, the code to render `color_type: card` and `color_type: label card` is exacte same.
If you define a button without entity, it's not going to display any icon, just the name you've set, or nothing if there's no name (as you did in #118)

[2019-04-23 07:13] #103 closed

[2019-04-23 16:40] apop880 opened #120 "Feature Request: Show Attribute Instead of State"
I'd like an option to display an entity's attribute on a button instead of the state. My use case would be for a light, if it's off I'd like to show the state of Off, but if it's on, I'd like to see the current brightness.

[2019-04-23 19:40] SeanPM5 opened #121 "FR: Haptics support"
Robbie has added haptics support to the official Home Assistant iOS app (update releasing in a day or two). The PR for it is here (requires 0.92 also releasing in a day from now): https://github.com/home-assistant/home-assistant-polymer/pull/3099

Haptics basically vibrates the part of the screen that you touch (in a subtle way), so you get physical feedback on button presses like in real life. It

[2019-04-23 20:29] iantrich commented on #121
It's just a firing of an event, so easy enough...the # of options in this card are starting to melt my brain...

[2019-04-23 21:39] RomRider commented on #120
There's something quite similar in #112, but your use case is a bit different as you'd like to show the state or something else based on the state. The current plan is to always show the state and/or some other attribute independently of the state.
Going to think about this.
We might introduce templates support in the future...

For now maybe you can try with the [config-template-card](https://git

[2019-04-23 21:41] RomRider commented on #121
Nice, I'll look into that once I'm finished with the typescript conversion, seems quite easy :+1:

Also yeah so much options...

[2019-04-24 09:02] RomRider commented on #110
This will be fixed once we move everything to typescript @jamesdawson3 ! :)
See #122

[2019-04-24 13:44] scstraus commented on #79
Okay, will get back to you when I get a chance.

[2019-04-24 15:45] RomRider commented on #121
@SeanPM5, could you please try this file and let me know the result please as I don't own IOS device?
https://raw.githubusercontent.com/custom-cards/button-card/haptic/dist/button-card.js

**Note**: For the above file, the type is now `js` instead of `module` in your lovelace resource.

Usage:
[code]

[2019-04-24 17:17] SeanPM5 commented on #121
Have to wait until next beta build of the Home Assistant iOS app becomes available before I can test it (scheduled for Thursday/tomorrow I think), but that will definitely be the very first thing I try and I'll report back.

Thanks for adding this!

[2019-04-24 23:58] robbiet480 commented on #121
@SeanPM5 is getting me a few test cases and I'll try them out and let you know if it works @RomRider. Thanks for implementing, you are the first! I plan to add support for Android in the official app that I am beginning work on soon, although my basic research tells me that Android generally doesn't have a nice "taptic engine" like iPhone does so not sure if I'll be able to accurately replicate th

[2019-04-25 00:42] robbiet480 commented on #121
As I said on the PR, all is working fine.

[2019-04-25 05:53] RomRider commented on #121
I didn't plan to release it like this in the PR but we can as a sort of MVP.

I don't know the feeling of it, as currently it's going to vibrate on when you release the screen with your finger.
Maybe what we can imagine is to have:
* on screen press, `tap_action.haptic` (or `light` if undefined and `on_hold` is different from `none`)
* when it switches to `on_hold` use the haptic from it, if any
*

[2019-04-25 05:56] RomRider commented on #121
Also @robbiet480, when this feature is released on this button, where should the users download the "beta" ios app with haptic support included?

[2019-04-25 07:19] robbiet480 commented on #121
@RomRider http://home-assistant.io/ios/beta

[2019-04-25 07:45] #110 closed

[2019-04-25 08:25] RomRider commented on #121
Merged and released. I'll keep this open to gather feedback.

[2019-04-25 08:56] SeanPM5 commented on #121
Almost forgot, here was the test config I did, contains all seven different haptic levels and was confirmed working by Robbie. So when the next iOS beta app releases this should be a good and fast way to try it out.

[code]

Thanks again guys!

[2019-04-25 22:28] RomRider opened #125 "Border clipping and can't use border-radius"
See post here:
https://community.home-assistant.io/t/lovelace-button-card/65981/689

With V1.0.0 I’m seeing behavior similar to issue #114, square points behind rounded corners.
Here’s what I see using card_type: card, color, and with a border in the style: (using an entity whose state is ‘on’). (Both Firefox and Chrome)
[code]
The color is applied out to the square corners, and the border is clip

[2019-04-25 23:00] #3 closed

[2019-04-25 23:00] #125 closed

[2019-04-26 01:33] jamesdawson3 commented on #110
Works exactly as expected!  Well done, thank you!

[2019-04-26 01:58] iantrich commented on #51
closing for no response

[2019-04-26 04:15] apop880 commented on #120
I think config-template-card may work for me, I'll give it a shot.

[2019-04-26 16:14] Tom-ahawk opened #127 "Tooltip on button"
Is it possible to set a &quot;help-text&quot; or see the button name, when hovering over the button?

![image](https://user-images.githubusercontent.com/35527507/56821626-268d2480-684f-11e9-8ba5-911f0d9aefc0.png)

Making a panel of buttons with icons, be able to see the name or a help-text when hovering the button would be a welcomed feature.

[2019-04-27 11:12] aptonline opened #128 "toggle state not changing"
I have buttons setup for lights, when I turn on the state changes to on (blue) but when I turn off the state doesn't change, the light does however toggle off.  If I refresh the page the states change and update to the expected state.

I'm running the latest version of HA (0.92.1) and Button-Card (1.1.0)

Heres a snippet of the code used:

[code]

![2019-04-27 12 26 59](https://user-images.githubu

[2019-04-27 11:41] RomRider commented on #128
Looks very much like:
https://github.com/home-assistant/home-assistant-polymer/issues/3060

I started the debug and the function that tests if the button should update is returning true (which is then catched by lit), however the button is not updated... It seems that this only affects light entities, which is really strange!
I'll continue to investigate.

[2019-04-27 11:42] aptonline commented on #128
Sorry didn't see that on my search. Many thanks :)

[2019-04-27 11:53] RomRider commented on #128
Okay, so the problem is that `color: none` is not valid in CSS :)
It works the first time, but then it keeps the old color because it can do anything with `none`.
You should specify a color (or a var) or just delete the state entry, and it will use `var(--paper-item-icon-color)` for the off color.

[2019-04-27 11:59] aptonline commented on #128
Ok so it DOES work but the non value doesn't give the right effect as you can see with the button next to it.

![2019-04-27 12 57 58](https://user-images.githubusercontent.com/190136/56849447-3eff4c80-68ec-11e9-8667-a84292092f3a.gif)

[2019-04-27 12:04] RomRider commented on #128
That's expected. If you delete the state, the off color will be: `var(--paper-item-icon-color)`, which is in your case white.

What you want to achieve can be done with:
[code]

[2019-04-27 12:07] aptonline commented on #128
Perfect, many thanks.

[2019-04-27 12:07] #128 closed

[2019-04-27 12:07] RomRider commented on #128
Maybe `var(--paper-card-background-color)` should become the default for off when using the `color_type: card`, it would make sense. I'll include that in the next release.

[2019-04-27 12:10] aptonline commented on #128
Fantastic. I did think a default would be more appropriate so not to add the code each time.

[2019-04-27 12:12] RomRider opened #129 "Make --paper-card-background-color the default off for color_type: card"
See #128

[2019-04-27 12:15] RomRider opened #130 "Make color: auto sensible to brightness"
See:
https://community.home-assistant.io/t/lovelace-button-card/65981/687

[2019-04-27 12:39] RomRider commented on #111
Looking into this currently with the help of `display: grid`.
But CSS is really painful!!

[2019-04-27 14:24] #129 closed

[2019-04-27 14:24] #130 closed

[2019-04-28 07:39] jarrah31 commented on #120
+1 for templates support!

[2019-04-28 17:58] RomRider commented on #111
@mrand @jer78, would #132 satisfy your request?

[2019-04-28 19:33] scstraus commented on #79
Latest version (1.20) has improved the situation a bit over what I was running before (1.0?), but I still prefer the old versions prior to 1.0- see below:

Old version (my favorite):
![image](https://user-images.githubusercontent.com/7644023/56869137-d358d480-69fc-11e9-9089-358e865d41f7.png)

1.0 or something around there (my least favorite):
![image](https://user-images.githubusercontent.com/7644

[2019-04-28 19:58] RomRider commented on #79
You can change the style of each button, the latest screenshot is the correct what is expected.
Add something like this to each button:
[code]
Or wait for this PR #132 which will enable you to override properly the height of each button.

[2019-04-28 21:00] a3xdev0 opened #133 "service api fundamentally broken since 1.1.0"
I build the following snippet just several days ago in 1.0 (at least i think so).

[code]
Since 1.1.0 this piece should still be working according to the examples in the documentation, but it doesn't.

[2019-04-28 21:14] RomRider commented on #133
It's `action: call-service` not `action: service`
Please confirm and close the issue.

[2019-04-28 22:45] a3xdev0 commented on #133
Confirmed! Works with 'call-service' now. Thanks.

[2019-04-28 22:45] #133 closed

[2019-04-29 08:08] SeanPM5 commented on #121
The iOS beta was released a few hours ago, I have been testing haptics on the button-card it and it works very well. The subtle physical feedback makes quite the difference in my opinion. Awesome stuff, I plan to update every single one of my buttons to use it.

The problem I've sorta noticed very quickly though with the current implementation, is that syntax is nested under `tap_action` and `hold

[2019-04-29 08:50] #15 closed

[2019-04-29 08:50] #29 closed

[2019-04-29 08:50] #79 closed

[2019-04-29 08:50] #111 closed

[2019-04-29 09:18] RomRider commented on #121
@SeanPM5, if I understand correctly, because you don't want to have to define the toggle action each time (as it's the default action), you'd like to have a main config entry for `haptic`. Is that correct?

On a side note, this config is not valid:
[code]

[2019-04-29 13:48] iantrich commented on #121
Or should haptic be default?

[2019-04-29 16:42] SeanPM5 commented on #121
Correct @RomRider . I wish to add haptic to _all_ of my buttons, and I suspect that most people would want to do the same. If it was a main config entry it'd be a lot easier to update them all without needing to add `tap_action` and such on buttons that don't necessarily need it.

But I think @iantrich idea would work well, if haptic was default for all buttons then people wouldn't need to update

[2019-04-29 16:44] #112 closed

[2019-04-29 16:44] #120 closed

[2019-05-01 11:06] RomRider commented on #121
@SeanPM5, what would be the best option for the default value? Is that `light`?

[2019-05-01 22:35] scstraus commented on #79
Thanks, that did it. I had played with padding in previous versions and couldn't get it to do much. I was using % values.. Anyhow, your method worked- I used

[code]
And got:

![image](https://user-images.githubusercontent.com/7644023/57046866-0eb00900-6c72-11e9-9f16-367c79470a25.png)

Which is pretty close to what I began with and liked. Thanks for your help!

[2019-05-02 06:02] RomRider commented on #79
Question for my knowledge, are the player and all the buttons **inside** another card? If yes, did you use vertical-stack-in-card?

[2019-05-02 13:49] apop880 opened #138 "Vertically centering name/label"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
Text doesn't vertically center at different font sizes

**Version of the card**
Version: 1.5.0

**To Reproduce**
This is the configuration I used:
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.github

[2019-05-02 14:05] RomRider commented on #138
Unfortunately, that's how HTML works. :)
You should see the button as a table with 2 columns, and 2 rows. The name is in the 2nd column/1st row and the state 2nd column/2nd row. The size of each row is 50% of the height of the button. The name is aligned on the bottom of its row and the label is aligned on the top of its row. The row height is not modified based on the size of the content.

To "si

[2019-05-02 14:39] apop880 commented on #138
Gotcha, I tried looking into the code but wasn't exactly sure how that column was constructed. That makes sense. Adding padding-top to the label worked like a charm though, thanks!

[2019-05-02 14:39] #138 closed

[2019-05-02 14:44] RomRider commented on #138
For what it's worth:
https://github.com/custom-cards/button-card/blob/master/src/styles.ts#L248-L253
`grid-template-rows: 1fr min-content 1fr` means:
* `1fr`: 50% of the remaining height (for the name)
* `min-content` (that's for the state but in your case it's not displayed), so it's equal to 0
* `1fr`: 50% of the remaining height (for the label)

And if you fancy some technical reading:
https://

[2019-05-02 15:35] scstraus commented on #79
While I'm a big fan of the vertical-stack-in-card, no I didn't use it here.. I used standard vertical-stack and horizontal-stack, and for whatever reason, it created this result when used with mini-media player.. I think it has more to do with mini-media-player who's style makes it look like part of the background rather than a separate card.  You can see my config here (though I haven't committed

[2019-05-03 16:14] jarrah31 opened #140 "Ability to align icon along either side of name/label/state"
Taking your “TEST LIGHT” example, I attempted to align the icon to the left of the text so that it wasn’t just stuck on top as seen below, (changing all justify-self to end) and using `layout: icon_state_name2nd`. It didn’t quite have the desired outcome though:

![](https://community-home-assistant-assets.s3.dualstack.us-west-2.amazonaws.com/original/3X/4/1/418c5f84d1b500768a284481514f5aabf4a292f

[2019-05-03 16:49] jarrah31 opened #141 "Icon colour to match bulb colour (warm/cool white)"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
I am attempting to make the icon colour match the bulb colour. I have a Philips Hue White Ambiance bulb that can do warm and cool white, and it's this colour temperature I'd like to see reflected in the icon please.

Looking at the GitHub guide, I see that using `col

[2019-05-03 18:16] RomRider commented on #141
Fixed with https://github.com/custom-cards/button-card/pull/139/commits/58a5efff85ff94fba83bd2b3b8502a1ded6a271a

[2019-05-03 18:32] jarrah31 commented on #141
Words cannot describe just how amazing it is to have you working on this card! A *Huge* thank you from me for your all the work you are putting into this card, it really is going to make a huge different to Home Assistant going forward!! :)

[2019-05-04 00:06] EliSchleifer opened #142 "Full size button image. Example"
Love the project. I ended up tweaking my styling to provide a full image toggle button.
There wasn't any existing example. Thought it might be nice to include.

        - type: "custom:button-card"
          entity: switch.jasco_products_14288_duplex_receptacle_switch_4
          show_entity_picture: true
          show_name: false
          show_icon: true
          style:
            - padding:

[2019-05-04 10:49] RomRider commented on #142
Thanks, I'll integrate this into the documentation!

[2019-05-04 11:11] RomRider commented on #142
@EliSchleifer, would you mind sharing a gif of the result please?

[2019-05-04 11:20] #141 closed

[2019-05-04 12:57] spali opened #143 "[Feature] Label like text above the icon"
**Is your feature request related to a problem? Please describe.**
No, not a problem

**Describe the solution you'd like**
ability to have text above the icon.
Due the flexibility of the label functionality (template, etc) I would suggest to have a copy of "label" that can be optionally displayed above the icon.

**Describe alternatives you've considered**
hacking with custom style to reorder the

[2019-05-05 09:59] jarrah31 opened #144 "Ability to centre the horizontal layout"
From the discussion found here on the forum:
https://community.home-assistant.io/t/lovelace-button-card/65981/819?u=jarrah
![image](https://user-images.githubusercontent.com/3072303/57192095-9f157480-6f24-11e9-8e77-72bd5d71ea20.png)
It would be nice to be able to centre the icon and label within the button please.

[code]

[2019-05-05 10:33] slusken opened #145 "Navigation button"
[code]

The link is affected on the phone using Chrome on Android and a visited link will be darker and darker every time you visit it until its completely black.
I don't know it it has anything with a:visited to do?
https://imgur.com/a/wWJEzPM
// Rondom

[2019-05-05 20:07] RomRider commented on #145
Lately I replaced the `mwc-ripple` element with a `paper-ripple` element. And this problem is introduced by `paper-ripple`... So I'll switch back to `mwc-ripple`... 🤷‍♂️
It's probably a bug on how `paper-ripple` is implemented... And I don't want to debug this element 😅

[2019-05-05 20:32] RomRider commented on #144
I'll need to introduce custom layout options using css grids for this to work as I can't handle all the things... and this is going to be realy advanced CSS stuff for normal people :)
However, this is the result (on the left vs the default on the right)
![image](https://user-images.githubusercontent.com/21064206/57199961-84bfb300-6f85-11e9-99c4-d96444e78776.png)

Is that what you want?

[2019-05-06 06:46] jarrah31 commented on #144
Yes that works well, thanks! I'll be one of those normal people so as long as there's some examples we can copy, I'll be happy! :)
Thank you!

[2019-05-06 07:43] RomRider commented on #140
With the custom layout options which will be in the next release, you'll be able to do this (and a lot more):
![image](https://user-images.githubusercontent.com/21064206/57212206-43f68700-6fe3-11e9-8d57-6f60d1beb5b3.png)

[code]

[2019-05-06 07:47] RomRider commented on #143
That will be possible with custom layouts.
I won't be able to handle all the different layout requests, so I'll give this possibility to the user, even if it's advanced CSS stuff...
![image](https://user-images.githubusercontent.com/21064206/57212379-d5fe8f80-6fe3-11e9-93d1-6032b68b5626.png)
[code]

[2019-05-06 09:32] spali commented on #143
great, thanks.
Can't wait for it :D

[2019-05-06 09:32] #143 closed

[2019-05-07 19:59] SeanPM5 commented on #121
Sorry for the late response, I had been meaning to test and got busy the last few days and lost track.

I think that `light` would be a good default value, and `haptic: none` is a great idea as well.

There's also a toggle inside of iOS itself (under Sounds & Haptics section) that users can disable haptics across the entire operating system - and the Home Assistant iOS app respects that OS-level s

[2019-05-09 14:13] #140 closed

[2019-05-09 14:13] #144 closed

[2019-05-09 14:13] #145 closed

[2019-05-09 16:21] apop880 opened #147 "Repeat option for hold_action"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be nice to be able to repeatedly take an action if a button is pressed and continues to be held. For example, this would be useful for volume increase/decrease commands to repeat on a remote control setup.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2019-05-09 16:41] iantrich commented on #147
You need to release to trigger actions. Additionally on browsers, if you hold for too long you'll bring a context menu

[2019-05-09 17:39] RomRider commented on #147
@iantrich, done in #148 :) If you want to have a look at the PR, might be good to integrate this into your helper.

[2019-05-09 17:52] RomRider commented on #147
@apop880, would you mind trying this [this file](https://raw.githubusercontent.com/custom-cards/button-card/repeat/dist/button-card.js) with the new code that supports `repeat` in your setup and use it a bit to give me feedback please? See the PR #148 for how to configure it.

[2019-05-09 18:01] apop880 commented on #147
@RomRider you are awesome! I'll do some testing later today!

[2019-05-09 18:10] iantrich commented on #147
🎉 nicely done!

[2019-05-09 18:11] iantrich commented on #147
@RomRider I'd gladly accept a PR for it ;)

[2019-05-09 18:12] RomRider commented on #147
Will do :)

[2019-05-09 19:25] jarrah31 commented on #144
thank you very much!

[2019-05-10 00:13] apop880 commented on #147
Tested successfully!

[2019-05-10 01:58] mkono87 opened #149 "cant use call scene.turn_on service, undefined entity error"
Unable to get scene working with a button card. I used the example in the readme but im getting an undefined error. Am I missing something or is there an issue?
[code]

[2019-05-10 02:55] Petro31 opened #150 "Position and style lock layer."
Now that we can fully change the position of the name, state, icon, and label,  it would be great if we could style and position the lock as well.

Style is secondary.  I'd really just like to move it around and change the size of it.

[2019-05-10 04:34] apop880 commented on #149
You need to indent this portion further:

[code]

[2019-05-10 04:45] RomRider commented on #149
Your indentation is broken :
[code]

[2019-05-10 04:50] RomRider commented on #150
Makes sense, will do that!

[2019-05-10 07:43] RomRider commented on #147
While we're at it, I've also added a new double tap action 😋

[2019-05-10 11:03] iantrich commented on #147
Dude is in 🔥!!

[2019-05-10 12:49] #147 closed

[2019-05-10 12:49] #150 closed

[2019-05-10 12:56] iantrich commented on #147
Well now you need to add double tap to the helpers as well ;)

[2019-05-10 12:58] RomRider commented on #147
I plan to migrate all the things to the npm module helpers, I will do all this in one shot! ;)

[2019-05-10 15:00] mkono87 commented on #149
Yeah I ended up doing that but still its no go, Im getting the exact same error.

[2019-05-10 15:27] RomRider commented on #149
Could you follow the link in the error and screenshot the part of the code that is failing please?

[2019-05-10 15:38] mkono87 commented on #149
https://hastebin.com/dufisosizo.js

This is what I get from that link but unable to find any error related to it. Is this what im suppose to be looking at?

[2019-05-10 15:39] RomRider commented on #149
The error sends you to a specific line, share the block of code around please.

[2019-05-10 15:42] mkono87 commented on #149
I would have thought so to but that link only gives me what I supplied.  HA log just says '''Uncaught TypeError: Cannot read property 'entity_id' of undefined'''

[2019-05-10 15:45] iantrich commented on #149
@mkono87 open your browser console and you should see the error there with a working link to the source

[2019-05-10 15:49] mkono87 commented on #149
`((LitElement, ButtonBase) => {
  var html = LitElement.prototype.html;
  var css = LitElement.prototype.css;

  customElements.define(
    'button-card-button',
    class extends ButtonBase {
      static get styles() {
        return css`
          ${ButtonBase.styles}
          .mdc-button {
            height: auto;
            padding: 0;
            color: inherit !important;
          }

[2019-05-10 15:50] RomRider commented on #149
You are not using the latest version of the card. Please upgrade. That's a really old version!

[2019-05-10 15:51] mkono87 commented on #149
oh weird I have the updater card and it says thats its updated, I guess thats messed up.

[2019-05-10 15:57] mkono87 commented on #149
Okay shes all working now. Il have to look into the customer updater as that is mostly the issue. Thanks for your help.

[2019-05-10 15:57] #149 closed

[2019-05-12 08:56] dmatik opened #153 "Icon color to react only to brightness and not to color temperature"
**Issue:**
Was trying to create a button for my Yeelight ceiling lamp, this lamp has few modes, some of them reports only brightness to HA and some brightness and color temperature, which leads to totally different icon representation when switching from "Normal" mode to "Moonlight". Which in most case should be good, but sometime looks like this is broken.

Here is example of 5% brightness in Moo

[2019-05-12 17:13] apop880 opened #155 "State-dependent Actions"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
For entities that don't support the toggle action, it would be nice to be able to customize the button action based on the entity's current state or an attribute. Use cases I can think of would include mute/unmute or play/pause on a media player, or opening/closing a cover.

**Describe alte

[2019-05-12 17:15] RomRider commented on #155
Opening and closing a cover works with toggle ;)
For the other stuff, I use scripts and in the script I simulate the toggle. Example:
[code]

[2019-05-12 17:52] apop880 commented on #155
Nice! I just assumed that toggle was using the homeassistant.toggle service and not adjusting the service call based on entity type. And yeah, scripting for the other options looks like a simple enough alternative, so I'll just go that route! Closing this issue then.

[2019-05-12 17:52] #155 closed

[2019-05-13 11:34] mclaudiopt opened #156 "Help with timer"
Hello
i have a button. i have an automation assossiated so that when it is turn on, a timer starts
is there anyway to make the change as per the picture?
basiccaly, if the started starts it is showed on a second line of the button
check:
![image](https://user-images.githubusercontent.com/48178294/57618488-7112de80-757b-11e9-9a67-e3e1502b65e4.png)

[2019-05-13 12:25] RomRider commented on #156
Add this to your config to have the result you expect:
[code]

[2019-05-13 12:29] mclaudiopt commented on #156
great. thanks...altough shows active of idle...i want to have "IDLE= " " and active =Timer itself.
is it possible? thanks

[2019-05-13 12:31] RomRider commented on #156
[code]

[2019-05-13 12:35] mclaudiopt commented on #156
thanks !
i have it like this:

[code]

[2019-05-13 12:39] mclaudiopt commented on #156
sorry for the questions

[2019-05-13 12:49] johntdyer opened #157 "Tried to serve up '/config/www/github/custom-cards/button-card.js.map' but it does not exist"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
I have tried this in Safari and Firefox and I get this error in the logs

[code]

In Firefox console logs I get the following;
[code]

**Version of the card**
Version:  1.8.0
Home Assistant: 0.92.2

**To Reproduce**
This is the configuration I used:
[code]

**Screens

[2019-05-13 13:02] RomRider commented on #157
You can safely ignore this error. This map file is a file that gets automatically generated for debugging purpose, I'm going to see if I can release the file without it.

[2019-05-13 13:05] RomRider commented on #156
Try this:
[code]

[2019-05-13 13:11] mclaudiopt commented on #156
well lie this is OK, but the timer does not update...

[2019-05-13 13:14] RomRider commented on #156
I'm going to have a look, but I can't in the next 2 days.

[2019-05-13 13:17] mclaudiopt commented on #156
ok thanks !
it would be a great feature

[2019-05-13 13:33] iantrich commented on #156
Timers are not updated in real time and are just rendered on the front end as the timer minus (current - triggered). I actually had made a timer card the other week but it is barebones. I'll look into adding the functionality here.

[2019-05-13 13:35] mclaudiopt commented on #156
Great

[2019-05-13 16:09] mclaudiopt opened #158 "Card space"
Hello
is there anyway to remove the empty area and leave it free for other cards?

![image](https://user-images.githubusercontent.com/48178294/57636823-dbd71080-75a1-11e9-9733-ee4afaea41de.png)
[code]

[2019-05-13 16:15] mclaudiopt opened #159 "Help with conditional formatting"
hello
i have the following code

type: vertical-stack
[code]

sensor.riscoincendio can five result "HIGH","MODERATE", AND OTHERS

how can i setup so that if HIGH ICON is yellow or blinking and background red
IF MODERATE, than color of icon is x and background is ....

thanks in advance
regards

[2019-05-13 17:50] Petro31 commented on #158
No, this is how home assistant works and it has nothing to do with the card itself.  Home assistant has a static column size that cannot be changed.  Your button is only taking up 150 pixels of that column, that doesn't mean home assistant will shrink it's size.

[2019-05-13 17:54] Petro31 commented on #159
This is all handled through the state attribute.  The styles section documentation covers all of this.  Also, there is a way to show the state without requiring the need to use a label_template.  Again, I strongly urge you to read the documentation and all it's attributes.  This card has some of the best documentation in all of home assistant.

[2019-05-13 20:42] RomRider commented on #158
You've put the button inside a vertical stack and defined a width. That's the expected behavior. If you want to align things horizontally, you should use the horizontal stack.

[2019-05-13 20:43] #158 closed

[2019-05-13 21:09] johntdyer commented on #157
@RomRider  - Where did I say it was js vs module ?

[2019-05-13 21:11] mclaudiopt commented on #159
thanks
how can i change the background of the card in idle state? i tried but cannot find the right code
i want all the cards in grey
![image](https://user-images.githubusercontent.com/48178294/57654424-063dc380-75cc-11e9-9e5d-6363a6cf7674.png)

[2019-05-13 21:12] RomRider commented on #157
I was wondering about the strange issue in FF, that's why ;)

[2019-05-13 21:29] RomRider commented on #159
[code]

[2019-05-14 11:44] mclaudiopt commented on #159
worked ! thanks

[2019-05-14 11:45] #159 closed

[2019-05-14 11:59] mclaudiopt opened #161 "what am i doing wrong? conditional format"
![image](https://user-images.githubusercontent.com/48178294/57696223-2a3eea80-7648-11e9-88df-cc59b3f6d0e8.png)
type: vertical-stack
cards:
  - type: horizontal-stack
    cards:
      - type: 'custom:button-card'
        entity: sensor.riscoincendio
        label_template: >
          var risco = states['sensor.riscoincendio'].attributes.state; return
          states['sensor.riscoincendio'].state;

[2019-05-14 12:04] RomRider commented on #161
Please use proper formatting when pasting configuration using https://help.github.com/en/articles/creating-and-highlighting-code-blocks

And I suggest that you read the card documentation [here](https://github.com/custom-cards/button-card/blob/master/README.md), everything is there.

Here's your solution
[code]

[2019-05-14 12:07] mclaudiopt commented on #161
[code]

[2019-05-14 12:11] mclaudiopt commented on #161
thanks. i read the documentation but cannot make it work.
i copied your solution but does no work also:
[code]
![image](https://user-images.githubusercontent.com/48178294/57696864-cd443400-7649-11e9-9fb0-fb6796062f9a.png)

sorry for requesting help

[2019-05-14 12:14] RomRider commented on #161
See my previous message, the solution is inside :)
It's fine to request for help, you don't have to be sorry for that but it's also good to read the documentation ;)

If you think something's missing in the documentation, let me know.

[2019-05-14 12:18] mclaudiopt commented on #161
thanks.
i have read the documentation...but i cannot understand why it is not working :-(

[2019-05-14 12:20] RomRider commented on #161
Are you sure that the state is in capital letters in your sensor?

[2019-05-14 12:21] mclaudiopt commented on #161
yes
this is how it shows to me
![image](https://user-images.githubusercontent.com/48178294/57697459-2c567880-764b-11e9-95a2-80af0b6e119e.png)

[2019-05-14 12:34] RomRider commented on #161
Did you clear your browser's cache and restarted it?

[2019-05-14 12:41] mclaudiopt commented on #161
yes i just cleaned cache and restarted...
maybe you can try installing this sensor...
[code]

[2019-05-14 17:09] mclaudiopt commented on #161
Made like this..card color does not change:((
[code]

[2019-05-14 17:14] RomRider commented on #161
I'll have a look tomorrow, I can't before that I'm sorry, I'm nowhere near a home-assistant instance right now.

[2019-05-15 17:33] Mariusthvdb opened #162 "add name_template"
**Additional context**
Add any other context or screenshots about the feature request here.

following our discussion on the community https://community.home-assistant.io/t/lovelace-button-card/65981/1118?u=mariusthvdb, please consider adding the possibility to template name in the config.

[2019-05-15 23:34] Petro31 commented on #51
Can we open this back up?  I believe it's related to conditional cards & the button card.  I have a whole configuration that causes many errors.  Can't really track down where it's coming from as I don't understand the debugging in the F12 for chrome.  @iantrich @RomRider

[2019-05-15 23:35] RomRider commented on #51
Are you using vertical-stack-in-card or some other custom-cards where you nest button card inside?

[2019-05-15 23:43] Petro31 commented on #51
The view only uses vertical-stacks, horizontal-stacks, and conditional cards and custom button cards.  How do you want me to give you the configuration?  It's lengthy.  Let me see If I can recreate the issue in a smaller environment.

[2019-05-15 23:45] RomRider commented on #51
I had this problem also with the conditional card and I switched to the [state-switch card](https://github.com/thomasloven/lovelace-state-switch) + [card-loader](https://github.com/thomasloven/lovelace-card-loader). No problem anymore for me.

[2019-05-15 23:46] Petro31 commented on #51
Ok, Let me look into that first then.

[2019-05-16 00:08] Petro31 commented on #51
@RomRider card-loader fixed it up without needing the state-switch-card.  Thanks.

[2019-05-16 00:24] RomRider commented on #51
I still have some remaining errors but it comes from the fact that `_keyBindings` is undefined.
Same as: https://github.com/home-assistant/home-assistant-polymer/blob/dev/hassio/src/hassio-main.ts#L29-L33
@iantrich, I don't find in home-assistant-polymer any reference to that appart from the link above, any clue?

[2019-05-16 00:43] #157 closed

[2019-05-16 11:14] Mariusthvdb opened #163 "allow more-info to point to other entities"
**Additional context**
Add any other context or screenshots about the feature request here.

following our discussion in https://community.home-assistant.io/t/lovelace-button-card/65981/1141?u=mariusthvdb

please add the option for a more-info action to point to other entities than the entity holds.

previously on Tiles:

[code]

[2019-05-16 12:55] iantrich commented on #163
I was planning on adding this to the common custom-card-helpers in the near future; so lets table this until we convert to those helper functions

[2019-05-16 13:15] mclaudiopt opened #164 "is this template correct?"
[code]

[2019-05-16 13:15] mclaudiopt commented on #164
[code]

[2019-05-16 13:24] iantrich commented on #164
@mclaudiopt use the forum for support/configuration questions. https://community.home-assistant.io/t/lovelace-button-card/65981

[2019-05-16 13:24] #164 closed

[2019-05-18 07:46] StijnVdd opened #165 "Configuration template not working with icon overwrite"
**Is your feature request related to a problem? Please describe.**
I defined some button templates and reuse them trough my configuration. On of the things I do is configuring:
`state:
      - value: "on"
        styles:
          state:
            - color: '#DD5555'`

In the button where I used this template I specify the 'icon' for the "on" state. (Different per button)

**Describe the solution

[2019-05-18 07:53] RomRider commented on #165
It's expected and written in the documentation that states are not merged but appended (second bullet point here):
https://github.com/custom-cards/button-card/blob/master/README.md#configuration-templates

[2019-05-18 10:15] StijnVdd commented on #165
That is why I opened a FR...

[2019-05-18 10:22] RomRider commented on #165
It's valid but I don't think I'm going to put that in place. It will require that states are defined in the same order in both the template and the config. It will lead to a lot of confusion for everyone.

[2019-05-19 04:30] StijnVdd commented on #165
maybe add a tag 'id' to make it easy to correlate them in the backend. I agree it would lead to a lot of confusion, but I think that the fact you can overload everything except the state creates the same level of confusion. Please consider this FR maybe for a future release.

Thanks a lof for the fast and clear responses!

[2019-05-19 19:40] gerard33 opened #167 "Only selected users can disable lock"
**Describe the solution you'd like**
Would be a nice feature if only selected users can disable the lock.

See the `toggle-lock-entity-row` over here -> https://github.com/thomasloven/lovelace-toggle-lock-entity-row#other-options

[2019-05-19 22:23] iantrich commented on #167
You could use the config-template-card to determine the actions per user group

[2019-05-20 07:53] RomRider commented on #165
`id` is a good idea to merge the states, I'll add that.

[2019-05-20 15:39] RomRider commented on #161
This should fix it.
[code]

[2019-05-20 17:20] RomRider commented on #161
Closing as you mentioned that it works on the forum:
https://community.home-assistant.io/t/lovelace-button-card/65981/1344?u=romrider

[2019-05-20 17:20] #161 closed

[2019-05-22 09:38] mclaudiopt opened #168 "image rotation"
i would like to request to be possible to rotate images
for example 90 degrees, 180 degrees

thanks

[2019-05-22 09:41] RomRider commented on #168
It is already possible by applying this style to an element (`entity_picture` probably in your case):
[code]

[2019-05-23 00:09] dakaix opened #169 "Button colour being forced by entity state"
**Checklist**
- [X] I updated the card to the latest version available
- [X] I cleared the cache of my browser

**Describe the bug**
The "show_state" and "color" options are being ignored, with a switch entity's state being used instead to colour the button background as either Green or Red. This doesn't occur when using script entity's.

**Version of the card**
Version: 1.9.0

**To Reproduce**
Th

[2019-05-23 03:20] RomRider commented on #169
Please check the documentation on github, the card has completely changed. You are updating from 0.5 to 1.9.0. What did you expect?

[2019-05-23 03:22] RomRider commented on #169
Also I think your configuration is for tiles-card and not for this button card...

[2019-05-23 10:53] dakaix commented on #169
Apologies for the confusion, I did, crucially, have an erroneous "type: 'custom:tiles-card'" hiding at the very bottom of the YAML.

However as regards the configuration, it mostly came from the Button Card thread on the HA forums. I did infact deploy 1.9.0 and, so far as I was aware, had been configuring with this version in mind.

[2019-05-23 10:53] #169 closed

[2019-05-23 15:01] StijnVdd commented on #165
Super! Looking good!

Thanks for the fast implementation!

[2019-05-24 10:54] #153 closed

[2019-05-24 10:54] #162 closed

[2019-05-24 10:54] #163 closed

[2019-05-24 10:54] #165 closed

[2019-05-26 21:48] r0l01 commented on #73
I agree with @PierreScerri.  Got a perfectly good iPad2 and the card doesn't work with any browser (Safari, Chrome and Mozilla).

I need to find another solution to replace the button-card.

[2019-05-27 05:30] #168 closed

[2019-05-28 10:06] Mariusthvdb opened #177 "state template isn't updated after first state change"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
please see community discussion on this:

https://community.home-assistant.io/t/lovelace-button-card/65981/1549?u=mariusthvdb

I have added another button with the state if the sensor, to show that is updated in the first place (done each 30sec)

**Version of the car

[2019-06-03 18:25] robertw opened #180 "background-image in style"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
background image shows fine in chrome on pc but on phone chrome browser background image does not show....

**Version of the card**
Version: 1.10.2

**To Reproduce**
This is the configuration I used:
[code]

**Screenshots**
If applicable, add screenshots to help expl

[2019-06-03 18:48] RomRider commented on #180
`style` is deprecated since 1.10.0 so if you see something on your desktop browser it means that your browser is still using its cached version and your mobile phone not.

Replace style with styles:
[code]
Clear the cache everywhere and retry.
Thanks

[2019-06-03 23:38] #180 closed

[2019-06-04 22:08] #167 closed

[2019-06-04 22:08] #156 closed

[2019-06-04 22:08] #177 closed

[2019-06-14 15:25] Mariusthvdb opened #187 "add external entity in action:, preferably with templatable entities"
**Is your feature request related to a problem? Please describe.**
trying to have an other entity serviced in the tap-action than the button entity, I can only do that hard coded right now:
[code]

please create a template in the action field to be able to do this:
[code]

maybe make it even shorter like:

[code]
and with template:
[code]

**
**Additional context**
Please see https://community.hom

[2019-06-19 11:22] sildehoop opened #189 "No card type found"
No card type found
[
  {
    "type": "custom:button-card",
    "entity": "group.home_lights",
    "show_icon": false,
    "show_state": true
  }
]

[2019-06-19 11:38] RomRider commented on #189
I won't be able to do anything with that if you don't explain what is happening and how you get this error...

[2019-06-21 16:56] tenkaibr opened #190 "Vibrate the Cellphone"
Would it be possible to add a variable which plays a sound or vibrate the cellphone when you press a button?

[2019-06-23 17:39] christmasjumper opened #191 "Potentially a feature request - use buttons as keypad"
Hi,

I have a lovelace view I am building. I want to be able to type a number using individual number buttons I have on the page (I so far have a button each for 0 through 9), and then for this number to be sent to a particular service when I press another button. The tricky bit is the number could be up to 6 digits long.

My current plan is to some how work out how to get each of the buttons to c

[2019-06-29 06:23] DavidFW1960 opened #192 "Add an option to configure the Lock time"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The default hard coded 5 seconds for the lock is too long.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of an

[2019-06-29 07:24] YamiFrankc opened #193 "State for other than on and off"
Hello,
I have a fan with many speed states that I want to display differently depending on the fan speed/state. However, only "on" and "off" seem to work.
The speed are listed both in the "speed" and "fan_mode" attributes. Is there a way to do this?

[code]

[2019-06-29 23:38] RomRider commented on #193
Yes, with for example:
[code]

[2019-06-29 23:42] RomRider commented on #191
That's not possible using only button-card unfortunately. Each button is independent from each other.
However maybe calling a script from each button that would append a value to an existing number in a input_number entity type would probably cover your use case ;)

[2019-06-30 08:02] YamiFrankc commented on #193
Hello, Thanks!
With your help and after reading the documentation a little more, I was able to do it.
[code]

[2019-06-30 08:02] #193 closed

[2019-06-30 18:18] JesseWebDotCom opened #194 "Expose "label" in "label_template""
When using "label_template", I'd like to be able to access the provided "label" value in the javascript code.  Here's a super simple example:

[code]

[2019-06-30 18:24] RomRider commented on #194
I'm not sure I see the use case for that.

Is your label value provided as a variable from elsewhere/another card?
And if so, why not round that value elsewhere then?

[2019-06-30 18:46] JesseWebDotCom commented on #194
Imagine I'm using a common button card template because I want all my main buttons looking the same.  For each entity type (ex. light, fan, etc), I want the label formatted differently:
- light = entity.attributes.brightness
- fan = entity.attributes.speed
- climate = Math.round(entity.attributes.temperature)
- other = just use the label provided

Makes sense.  Ideas to do it another way simply?

[2019-06-30 18:54] RomRider commented on #194
I don't see how accessing the `label` in a template would help you to achieve that as label is static text.
You can use 4 templates which reference each the common template.
You can chain templates together i.e. reference another template from within a template. That would do exactly what you want.

[2019-06-30 19:13] JesseWebDotCom opened #195 "IOS13 Bug: tap requires hold for 1 second"
When clicking on a button within safari desktop, the button toggles the entity properly. When clicking on a button within safari IOS 12, the button toggles the entity properly.  When clicking on a button within safari iOS 13, the button only toggles the entity properly if the tap is held for 1 second.  Simply tapping on the button will cause the button to toggle on and then quickly off.

[2019-06-30 19:16] RomRider commented on #195
That's why it's called a beta :)
Plus I don't have a device I'm willing to update to IOS13 beta to test. Let's wait for the definitive version, I'll fix it then if it still happens.

[2019-06-30 19:20] JesseWebDotCom commented on #195
Yep, no rush - just wanted to let you know.

[2019-07-05 10:55] MickL opened #196 "Install with hass.io add-on store"
Is there a way to install it by use of the Hass.io add-on store? I put in the repository URL but it does not find the module. If it is not possible please consider this as a feature request :)

[2019-07-05 12:28] RomRider commented on #196
That's not possible, an add-on is a docker image this is just a custom card for lovelace, however you can use : https://github.com/custom-components/hacs which is the same thing but for custom cards :)

[2019-07-05 12:30] MickL commented on #196
Thanks :)

[2019-07-05 12:30] #196 closed

[2019-07-07 18:46] IIIdefconIII opened #197 "button color not working as aspected"
**Checklist**
- [ X] I updated the card to the latest version available
- [X ] I cleared the cache of my browser

**Describe the bug**
Whenever i have a invalid entity the color works:

[code]
![image](https://user-images.githubusercontent.com/9917659/60772532-1b306200-a0f8-11e9-8ca4-c3ce04ca5411.png)

but when its valid the color becomes grey:
[code]

![image](https://user-images.githubuserconten

[2019-07-07 18:49] RomRider commented on #197
Please check the documentation, neither color_off nor default_color are valid configuration entries.

[2019-07-07 18:58] IIIdefconIII commented on #197
Thanks for the quick answer, i removed both lines (took it from  example somewhere on the web) but its still behaving the same.

[2019-07-07 20:46] RomRider commented on #197
`color` only works when it's on.
If you want to change the color when off you'll have to use the `state` object.
Again, please read the documentation: https://github.com/custom-cards/button-card/blob/master/README.md#state

[2019-07-08 16:45] IIIdefconIII commented on #197
Thank, you got it kinda, not using states cause there script but this works if anyone else is in the same boat:

[code]

![image](https://user-images.githubusercontent.com/9917659/60827484-9bb29980-a1b0-11e9-8b7d-f46f5fce5267.png)

[2019-07-08 16:48] #197 closed

[2019-07-18 08:21] atterdal opened #198 "Ellipsis adds 3px margin left"
**Checklist**
- [ x ] I updated the card to the latest version available
- [ x ] I cleared the cache of my browser

**Describe the bug**
When text overflows some mysterious margin is added to the left side.

**Version of the card**
Version: 1.11.1

**Screenshots**
<img width="268" alt="Skärmavbild 2019-07-18 kl  10 19 24" src="https://user-images.githubusercontent.com/2734444/61441338-b372e600-a9

[2019-07-18 09:34] RomRider commented on #198
Hey, the solution to this problem is here: https://community.home-assistant.io/t/lovelace-button-card/65981/1678?u=romrider

Mainly this part:
You should add:
`- text-align: start`to all the fields and it will fix alignment issues.

Looks like when `ellipsis` is used, it doesn’t take into account the `justify-self`. But you still need to keep `justify-self`, because when it’s actually not “ellipse

[2019-07-18 10:32] atterdal commented on #198
Awesome! Thanks.

[2019-07-18 10:32] #198 closed

[2019-07-19 06:45] #191 closed

[2019-07-19 06:45] #189 closed

[2019-07-19 06:45] #51 closed

[2019-07-20 19:27] RomRider commented on #187
This will not be release in the next version but in the one after.
I'm currently adding templating for most of the text fields (and icon ;) ) for now and adding custom fields support.

[2019-07-24 08:50] hcoohb opened #200 "more-info dialog always opens on tap if button-card is placed inside entities card"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
If the button card is placed inside and entities card, no matter what tap_action I provide, the more-info dialog opens (and the action is also performed)

**Version of the card**
Version: 1.11.1

**To Reproduce**
This is the configuration I used:
[code]

**Expected b

[2019-07-24 09:37] RomRider commented on #200
Button card is not supposed to be used inside an entity card. I can't change that behavior, it's how the entity card works unfortunately.

[2019-07-25 12:54] hcoohb commented on #200
Thanks for the quick answer!
Oh, I thought it would have been possible to stop the propagation of the click on the button-card.
I have tried with vertical-stack-in-card but because it is not a ha-card, I cannot modify the style (ie margin, background and borders) of the card with card-mod. (as this vertical-stack-in-card would be inside another vertical-stack-in-card and horizontal-card).

What I

[2019-07-26 07:49] n3PH1lim opened #201 "Icon Colors not set correct when theme is switched."
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
I change themes on sunset. Using 2 themes for day and night.
When I change the theme the icon colors are not set correct see screenshots.
After reloading the page it is schon correct.

I have a wall mounted tablet where reload is really frustrating.

**Version of the

[2019-07-26 12:56] RomRider commented on #201
Delete `color: auto` and all will be fine. `auto` is only supposed to be used with light entity if you want to reflect the current color of the light on the icon.

[2019-07-26 13:23] stefancvetkovic commented on #200
I am in same train with you @hcoohb. Always more-info showing up when it in entities type.

[2019-07-26 13:55] iantrich commented on #200
@RomRider @hcoohb is right. Adding `ev.stopPropagation()` to each handle method should avoid this. The more-info is handled by the outer wrapper, but rows can stop it from being executed e.g. [script row](https://github.com/home-assistant/home-assistant-polymer/blob/dev/src/panels/lovelace/entity-rows/hui-script-entity-row.ts#L83) when clicking on their internal elements.

[2019-07-26 14:53] RomRider commented on #200
I'll have a look if this works. Cheers.

[2019-07-26 16:18] RomRider commented on #200
I've tested with `ev.stopPropagation()`, and it's not working as the problem is on this line:
https://github.com/home-assistant/home-assistant-polymer/blob/dev/src/panels/lovelace/cards/hui-entities-card.ts#L156

The entities card is adding it's own handler, so no `ev.stopPropagation()` is going to stop that from happening. I'll see if I can remove the handler.

[2019-07-26 19:27] #187 closed

[2019-07-27 09:38] hcoohb commented on #200
Thanks for the quick resolution!

[2019-07-29 03:18] iantrich opened #206 "swipe-card causing errors"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

Throwing an error when a swipe card is inside a `browser_mod` popup action since the change to templating. I haven't taken the time to try to debug it much, but the difference appears to be the `swipe-card` as I have other popups via `browser_mod` that are working fine that don't include

[2019-07-29 05:43] RomRider commented on #206
Thanks, I'll have a look.

In the meantime, could you delete `scrollbar: null` from your swipe card parameters? That should fix it.

[2019-07-29 08:20] RomRider commented on #194
You can do it like this if you want only 1 template:
[code]

[2019-07-29 12:58] iantrich commented on #206
👍

[2019-07-29 16:06] #195 closed

[2019-07-29 16:06] #206 closed

[2019-07-29 21:17] RomRider commented on #200
@iantrich actually, I'll probably have to revert this commit... It breaks swipe-card and breaks compact-custom-header swiping between tabs.

The way it is handled on the entity card is not great... Each entry should manage its own actions and currently it's the entity card which manages that by catching the event from a child object... Not the best design ever :(

[2019-07-29 21:55] iantrich commented on #200
agreed, core should probably be refactored

[2019-07-29 22:37] LbDab opened #209 "Any card inside button-card"
This feature request might be too much or even might be a separate card

Button card specially in new version is easily and highly customizable so the idea is to use it not only as button but also as wrapper for another card.

Now we can embed and style any HTML into buttons, if we could use it also to wrap and style other cards into button this could be an UI style.

Is it realistic to add abilit

[2019-07-30 02:31] iantrich commented on #209
Easily done... but should it be done?

[2019-07-30 09:29] RomRider commented on #209
I would probably use `vertical-stack-in-card` for that purpose.

[2019-07-30 09:30] RomRider commented on #50
So much features now, I think it will be very hard to implement... 😨

[2019-07-30 11:19] iantrich commented on #50
I gave up on using the UI for editing😜

[2019-07-30 11:19] #50 closed

[2019-07-30 14:46] RomRider commented on #200
@hcoohb, I'll have to revert this unfortunately as it creates a lot of side effects (swipe not working anymore, double clicks when changing tabs, etc...)

Regarding your use case, if you already have a vertical-stack-in-card around why not do (excluding the vertical-stack-in-card you already have):
[code]
And then apply a style to each button instead of using `card-mod`.

[2019-07-30 22:46] iantrich commented on #209
I'm kind of liking the idea, actually. Pretty much makes button-card the new and improved picture-elements at that point, lol

[2019-07-31 01:03] LbDab commented on #209
Sorry for cheap Photoshop but I'm thinking of result will look something like this:

![New Project](https://user-images.githubusercontent.com/47884140/62175893-f2426c00-b347-11e9-9881-b9359d9e8f34.jpg)

[2019-07-31 01:05] iantrich commented on #209
@romrider I do have this functionality in the cchs if you're interested; I'm leaving decision to you: https://custom-cards.github.io/custom-card-helpers/modules/_create_thing_.html

[2019-07-31 06:02] RomRider commented on #209
Let's do it 😅

[2019-07-31 07:57] kloggy opened #210 "Lock not working on Android"
**Checklist**
- [x ] I updated the card to the latest version available
- [ x] I cleared the cache of my browser

**Describe the bug**
As per my forum post I am not sure if this is being covered elsewhere (I couldn't see an open issue for it at all) or if it is until now only considered an IOS bug, but the button lock has stopped working on Android.

**Version of the card**
Version: 2.0.4

**To Re

[2019-07-31 14:08] #210 closed

[2019-07-31 20:47] RomRider commented on #209
@iantrich, I think that implementing this feature will probably also involve some tweaks on how to handle clicks inside a nested element as I guess that the event might be catched by the button card also... 😅

I'll give it a try and see if see how that goes!

[2019-07-31 21:51] iantrich commented on #209
this is getting crazy...

[2019-08-09 20:14] prankousky opened #211 "cannot change entity_picture"
Hi everbody,

I just installed `button-card` attempting to display different user photos depending on their state. While my code works for `name`, it will **not** work for `entity_picture`. First example code works fine, second will not display anything.

[code]

This will change the name below the icon (currently just a person's silhouette) to *i am home* / *i am not home* depending in the actual

[2019-08-10 16:12] MarsWarrior opened #212 "Color of last_changed field is not visible when state changed: it does after refresh (F5) or view change."
**Checklist**
- [x ] I updated the card to the latest version available
- [x ] I cleared the cache of my browser

**Describe the bug**
I use the button to display a state change: it does this with a color.
Say a door opens, I change the color of the "Label" and "Status" field to red. As I have enabled the "last_changed" field, this field is displayed in the label area of the card.

If the door is

[2019-08-10 16:44] MarsWarrior opened #213 "Settting tap & hold action to 'none' results in calling the turn_on service"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
If I set the tap & hold action to 'none', the button still want's to call the turn_on service.
However, I don't want the button to do anything on user tap/hold/whatever.

Error in browser:
`Cannot call service binary_sensor/turn_on Service not found.
`

![image](http

[2019-08-11 06:44] RomRider commented on #212
Thanks for the detailed report. I'll have a look. :)

[2019-08-11 14:45] MarsWarrior commented on #212
@RomRider , I found the problem!
Altough I do set the label color, it appeared that the theme had a problem - a typo. So the variable contained an illegal value.

The weird thing of course is why this is 'solved' with a refresh.

Now that I fixed the theme, the label responds immediately after the timeout, just as the rest of the button values (name, status and icon).

You can close this issue if

[2019-08-11 16:50] RomRider commented on #212
I think that's browser specific bug/feature.
It "works" with a refresh because the value is immediately invalid and then it falls back to being white, when it's not refreshed since the new value is invalid then it keeps the last valid one.
You would probably have a different behavior in a different browser 🤷‍♂️

[2019-08-11 16:50] #212 closed

[2019-08-11 17:05] RomRider commented on #213
I can't reproduce, could you please show me your whole button config and the templates if there is any?

[2019-08-12 21:35] tommyjlong opened #214 "Color auto-no-temperature not always behaving HA default"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
Using color: auto-no-temperature, when changing the light's color from blue back to neutral (center of the color wheel/nearly white) the button-card icon continues to track the lights color rather than following the HA default.  Turning the light off and back on does

[2019-08-12 22:34] RomRider commented on #214
Hi,

Thanks for the detailed report.

The way it works in button-card is:
* If the light has the attribute `rgb_color`, then it will always use that as the color for the icon (with brightness applied if the attribute is defined)
* if not, then it will use `color_temp` if it exists (with brightness applied if the attribute is defined)
* if not then it will compute a default value based on the state

[2019-08-13 00:09] tommyjlong commented on #214
Here are the attributes for the light in step 3) (I hope this is what you were after):
[code]

As for HA falling back to gold, what I can say in my particular case, and may be the reason HA does what it does, is that when using Slate theme which uses a black background, when the light is OFF the icon is WHITE.  So you don't want the icon showing white when the light is ON (so I think that's why it

[2019-08-13 00:43] konecnyna opened #215 "Loading state?"
I currently use my button card for a series of things but I would really love the option for a loading state. My door lock can take upwards of 10 seconds to complete its request and sometimes I'm not sure if i properly clicked the card because there is no indicator that something is happening.

It would be great in the `tap_action` I could give a custom style or just an option to disable the card

[2019-08-13 07:57] RomRider commented on #214
I see, those are the culprits for home-assistant's core button:
https://github.com/home-assistant/home-assistant-polymer/blob/dev/src/panels/lovelace/cards/hui-entity-button-card.ts#L209-L211

I don't quite like the idea honestly... Something I'd suggest to reproduce how HA core's button is behaving:
[code]

[2019-08-13 11:07] AmoebeLabs commented on #213
I will try a few things. I see now that these buttons are part of a decluttering template.

Will try a 'naked' button-card to see if the problem is in the button-card or in the decluttering template or a strange combination.

[2019-08-13 11:09] MarsWarrior commented on #213
Oops, forgot to change accounts 😄

[2019-08-13 18:22] tommyjlong commented on #214
Your suggestion works!!
As I was only concerned with the icon (no issues with the card's color),
I substituted `state: -value: 'on' ` shown above for the following:
[code]
In step #3, the icon goes back to gold (Slate Theme) or Yellow (Default theme)
I will leave it to you whether to incorporate into your code or not.
You may close this.

Thanks!

[2019-08-15 23:12] alverman opened #216 "Change icon from condition of other sensor"
it is possible to change the icon, in a custom button card, based on the status of a binary sensor when the custom button card is the command to turn on a light?

I tried the various examples but I couldn’t find it and I couldn’t do it myself
Would it be useful to add this possibility?
Thanks, Alberto

[2019-08-15 23:43] iantrich commented on #216
Yes. Use a template

[2019-08-16 09:51] alverman commented on #216
thanks Ian.
The problem is that every event happens only if I press the button.
I would need the icon to change based on an external event.
I practically have lights that I switch on through a relay step by step with the modbus protocol. The relay has 4 contacts two for ignition and two for the control of the light state.
The relay activates it with a light command. and check the status of the rel

[2019-08-16 10:38] n3PH1lim commented on #201
Thanks i will try this.
I changed the color setting to the icon only but the complete card would be much nicer.

[2019-08-16 16:17] RomRider commented on #201
The solution above works with `color_type: card`

[2019-08-17 17:14] alverman commented on #216
I managed to enter a state that changes color when the light is turned on by a physical button, but I would like to change the button icon and I wouldn't know how to do it

`type: 'custom:button-card'
icon: 'mdi:lightbulb'
aspect_ratio: .5/.2
entity: light.cmdscala
color_type: card
tap_action:
  action: toggle
name: Scala
styles:
  grid:
    - position: relative
  custom_fields:
    notification:

[2019-08-17 17:32] iantrich commented on #216
Try a [state template](https://github.com/custom-cards/button-card#state-templates)

[2019-08-17 17:36] iantrich commented on #216
Also, since everything except for the tap_action seems to be dependent on the `binary_sensor`, why not just make that your `entity` and then for your `tap_action` use `call-service` to toggle `light.cmdscala`. That makes more sense to me

[2019-08-17 17:47] RomRider commented on #216
Icon works the same, with templates, you can do:
[code]

[2019-08-17 22:29] alverman commented on #216
thanks thanks thanks guys.
Both solutions work.
Great !!
Thanks again
[code]

[2019-08-26 08:29] #214 closed

[2019-08-26 08:29] #216 closed

[2019-08-27 16:37] manonstreet opened #217 "Confirmation linked to actions"
Please consider moving the confirmation option under Actions and allow the text to support templating.  This would allow the confirmation message to act like context aware documentation.

I am using tap and double tap actions, however the same confirmation dialog triggers regardless of the type of action invoked.  It would be useful and flexible to selectively allow (or disable) confirmation messa

[2019-09-07 01:23] morestart opened #218 "Can you add homekit jelly special effects?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-09 19:54] iantrich commented on #209
@RomRider I know you made some progress on this, mind throwing it up on a branch for me to peek at?

[2019-09-10 03:17] orson1282 commented on #51
I'm getting this error with conditional cards.
- When the condition is true and the card is displayed, no error.
- When the condition is false, no card should be displayed, that error shows up in the log.

[2019-09-10 06:22] Mariusthvdb opened #220 "add lock (permanent-not switchable) and differentiate allow-lock"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Not really a problem, this is an enhancement of the current lock. Which is in fact a lock-allow,and is much used in my setup
I'd love to have a lock(-not-allowed), short lock, or lock-permanent. Several switches should never be allowed to

[2019-09-10 06:37] RomRider commented on #209
@iantrich, I didn't publish because I had a lot of problems with clicks and buttons inside button-card :(
I think if we go this way, the main button shouldn't have clicks enabled.

I'll create a branch for you to have a look. I've added also a banner so that people can check the version they are running in the js console... To end with the "caching issues"

[2019-09-10 06:39] RomRider commented on #217
Sounds fair, I'll do that 👌

[2019-09-10 08:50] morestart commented on #218
you can see it in homekit app, if you click the button, the button gets bigger and then becomes normal size immediately.

[2019-09-10 08:51] RomRider commented on #218
I don't have homekit, so I don't know what you're talking about. Maybe with gif would help?

[2019-09-10 11:58] iantrich commented on #220
So the button does nothing? Just set tap action to none.

[2019-09-10 13:01] Mariusthvdb commented on #220
yes, thanks, done that now, also following suggestions by @RomRider in community https://community.home-assistant.io/t/lovelace-button-card/65981/2240?u=mariusthvdb

[code]

is the main button config. 2 issues:

no icon is set, the lock:true apparently overrides styles: lock: icon (unless i have configured that incorrectly?)

tap action is none, but so is hold action, which Id like to be more-info

[2019-09-11 06:39] morestart commented on #218
you can see it
[](https://s2.ax1x.com/2019/09/11/ndr5TJ.th.gif)

[2019-09-17 20:10] SeanPM5 commented on #121
Just revisiting this now that support was added to core. Starting in Home Assistant 0.99 it's now sending `light` haptic by default on the core entity button. PR here: https://github.com/home-assistant/home-assistant-polymer/pull/3569

So I think that it would be a smart idea to match the behavior of core button with this card and send `light` by default.

[2019-09-17 20:26] iantrich commented on #121
https://github.com/custom-cards/custom-card-helpers/pull/6/files

[2019-09-17 20:27] iantrich commented on #121
We will want to add a `none` option for haptic then.

[2019-09-17 20:44] RomRider commented on #121
This will require a modification in custom-card-helper

[2019-09-17 20:53] iantrich commented on #121
For none? I don't think so. If passed to forwardHaptic is will just not produce anything. The other option is to have button-card set light as the default

[2019-09-25 05:50] RomRider commented on #218
I don't think I'll implement that, it's not consistent with home-assistant overall.

[2019-09-25 05:50] #218 closed

[2019-09-25 07:09] morestart commented on #218
well, thanks for your reply

Jérôme W. <notifications@github.com> 于2019年9月25日周三 下午1:50写道：

[2019-09-30 14:37] trimethia opened #221 ""Custom element doesn't exist" errors in older iOS devices"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
A red message with the text `Custom element doesn't exist: button-card` is displayed in older iOS devices (tested with iPhone 6s on Safari running iOS 10.3.3) in Home Assistant. The card displays fine with an up-to-date, desktop version of Safari on a mac.

When the

[2019-10-04 00:48] trimethia commented on #221
Here are the errors thrown by web inspector for my iOS device:

<img width="1025" alt="Screen Shot 2019-10-04 at 9 46 06" src="https://user-images.githubusercontent.com/16490054/66173623-04b08d00-e68c-11e9-91be-ad0585859994.png">

[2019-10-04 00:55] iantrich commented on #221
Would require compiling with Babel. Kind of a pain for a dev to have to configure. PRs welcome

[2019-10-04 02:41] trimethia commented on #221
Thanks, I am not really familiar with Babel but will give it a try.

[2019-10-04 14:58] trimethia commented on #221
@iantrich Just verified that just adding a terser option solves the issue in my case: https://github.com/custom-cards/button-card/pull/222

[2019-10-04 20:26] alexandery opened #223 "Fails when used in "conditional" card"
**Checklist**
- [ x] I updated the card to the latest version available
- [ x] I cleared the cache of my browser

**Describe the bug**
When used inside a "conditional" card, the "button-card" (one or more) is/are not displayed and the following error is logged:

[code]

**Version of the card**
Version: 2.0.5 (latest as of Oct 3, 2019)

**To Reproduce**
I've used somewhat complex card, which I simp

[2019-10-07 19:36] jimz011 opened #224 "Dropdown menu (like the standard entities card does with an input_select)"
**Is your feature request related to a problem? Please describe.**
I'd wish to use buttons that only show an icon (like this card does exactly) in conjunction with an input_select. In standard lovelace with the core entities card you will get a dropdown menu. However that card can not be modified and it doesn't use the great 1/1 aspect_ratio that this card can do.

**Describe the solution you'd li

[2019-10-08 07:03] Fredderic commented on #217
+1  I have tap action set to None, and am using hold and dbltap instead.

Was trying using lock, but I find this way is much better.

Speaking of which, confirmation on unlock…?  I presume the plan would be to add per-action confirmation as overrides to the card default…  however, since lock is a kind of confirmation in itself, the standard confirmation should probably be attached to unlock rather

[2019-10-08 07:42] Fredderic opened #225 "Can the entire locking functionality be pulled out into it's own card?"
There's a couple cards that have locking features, and an entity row card with locking, but many many more cards that SHOULD have locking.

Further, this cards locking feature is generic enough it sould do well as it's own thing, essentially wrapping other cards, including this one.  This cards built-in locking could then be depreciated, and any further development towards it go there instead.

--

[2019-10-11 03:52] lsilva171 opened #226 "Create an icon_name_state3rd with everything aligned horizontally and icon, name and state are concatenated and centered"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to have a custom button with icon, name and state aligned horizontally and centered
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Create an icon_name_state3rd with everything aligned

[2019-10-11 13:06] matisaul opened #227 "Problem with navigate action"
**Checklist**
- [X ] I updated the card to the latest version available
- [ X] I cleared the cache of my browser

**Describe the bug**
After update to version 2.0.5, Navigate action doesn't work, change to new page and return to lovelace main page almost instantaneously .
This problem only happen in Windows Web Browsers (I didn't try in Mac or linux).
Works in my smartphone web browsers (Chrome an

[2019-10-11 13:54] Mariusthvdb opened #228 "template for (lock) confirmation field"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

no problem, just a feature request
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

allow for a template to the confirmation field

[code]
**Describe alternatives you've considered**
A clear

[2019-10-14 16:32] matisaul commented on #227
Sorry, It was another custom card... closed.

[2019-10-14 16:32] #227 closed

[2019-10-14 19:04] f00dagi opened #229 "Support for Dimable Light Control"
Thanks for a fantastic job!

**Is your feature request related to a problem? Please describe.**
I get very frustrated when I can do almost anything with the Button Card but lack the possibility to add a dimable light controller on the card.

**Describe the solution you'd like**
The Button Card is very versatile but I lack the native function of having it a dimable light controller. For inspiration

[2019-10-15 12:32] Mariusthvdb opened #230 "allow lock to be set on Hold action"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Someone accidentally taps a lock and taps it again...which is kind of easy

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

For security reason, I would love to be able to 'lock' the hold-a

[2019-10-18 19:06] iantrich commented on #209
@RomRider yeah, you'd have to either have a wrapper around the custom elements that catches the clicks and stops them from propagating or remove clicks from the ha-card itself when you have an embedded. The wrapper should be doable. Let me know when you get a branch up 👍

[2019-10-19 16:12] #194 closed

[2019-10-19 16:13] #201 closed

[2019-10-19 16:15] RomRider commented on #211
Did you add `show_entity_picture: true` ?

[2019-10-19 17:11] iantrich opened #232 "Rename dbltap_action to double_tap_action to align with core"

[2019-10-19 17:12] RomRider commented on #232
Will do :) Working on some feature requests right now

[2019-10-20 16:14] RomRider commented on #226
You can do that using custom styles and custom fields if required.

[2019-10-20 16:14] #226 closed

[2019-10-20 16:36] RomRider commented on #230
If I understand correctly, you want an option to unlock the card by holding the button instead of tapping on it?
Then the button would be unlocked and you could also achieve `tap_action`.

[2019-10-20 16:36] RomRider commented on #225
@iantrich worked on creating that card, it's there: [restriction-card](https://github.com/custom-cards/restriction-card)

[2019-10-20 16:36] #225 closed

[2019-10-20 16:43] RomRider commented on #220
I would suggest that you add a custom field for such button and set the the `tap_action` to `none`. See an example here: https://community.home-assistant.io/t/lovelace-button-card/65981/2349?u=romrider

[2019-10-20 17:39] RomRider commented on #223
I think this is related to the fact that the card is not yet loaded when the stack card runs:
[code]
@iantrich, I think this a bug in core.

@alexandery, I'd suggest you use the [state-switch](https://github.com/thomasloven/lovelace-state-switch) card

[2019-10-20 17:44] #107 closed

[2019-10-20 17:50] RomRider commented on #229
I'd use `vertical-stack-in-card` to achieve that and display a slider under the button.

[2019-10-20 18:11] iantrich commented on #192
@RomRider added this to the restriction-card the other day FWIW https://github.com/custom-cards/restriction-card/commit/f8b5e4c096933ec8e681a3f8a38db8234ee5bcdb

[2019-10-20 22:34] RomRider commented on #192
Thanks @iantrich, done. :)

[2019-10-20 22:36] RomRider commented on #230
Seems like a duplicate of #220

[2019-10-21 02:35] iantrich commented on #230
FWIW I added this to the restriction-card after reading this FR
https://github.com/custom-cards/restriction-card/releases/tag/1.0.6

[2019-10-21 08:24] #192 closed

[2019-10-21 08:24] #217 closed

[2019-10-21 08:24] #228 closed

[2019-10-21 08:24] #232 closed

[2019-10-21 08:24] #209 closed

[2019-10-21 08:24] #220 closed

[2019-10-21 08:24] #221 closed

[2019-10-21 08:24] #230 closed

[2019-10-21 09:30] DavidFW1960 commented on #192
Thanks Jerome. Fix works great.

[2019-10-21 09:52] prankousky commented on #211
I added it just now after reading your comment and it works!! Thank you so much.

[2019-10-21 09:52] #211 closed

[2019-10-21 14:40] manonstreet commented on #217
Awesome.  Thanks!

[2019-10-21 21:58] daniel-stockhausen opened #234 "styles key-value pair values not interpreted as javascript"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
The values for `styles` key-value pairs don't seem to be interpreted. There is no console output/errors - I got interpreter error logs from `_evalTemplate` other times when using templates in other places/properties, but not in this case.

**Version of the card**
Ver

[2019-10-21 22:07] daniel-stockhausen commented on #234
This should be working too, right?
[code]
Again, no colors 😱

[2019-10-21 22:08] RomRider commented on #234
I can't reproduce, you're probably not using the latest version. Check the javascript console. If you can't see the version displayed or if it's a wrong version displayed, it's a cache issue. If so clear the cache and restart.
You should see something like this with version `3.0.0` displayed:
![image](https://user-images.githubusercontent.com/21064206/67246892-12258f80-f460-11e9-9c82-060b2cea3a6d.

[2019-10-21 22:33] daniel-stockhausen commented on #234
Yes, you're right. Thanks for the tip for looking up the version in the console. I installed it manually at first and moved to HACS later but never updated the js-url in `ui-lovelace.yaml` 🥳

But this one is actually not supported right? No template support for `state` `color`, correct?

[2019-10-21 22:42] RomRider commented on #234
No, but you can achieve the same thing using `styles`. The object also exist inside `states` ;)

[2019-10-21 22:59] daniel-stockhausen commented on #234
Yeah, I solved it this way now. It would have been half the lines of javascript code compared to how many I needed now - so I would've preferred it from a perfectionist perspective 🤓

Thanks for this awesome component 🙂

[2019-10-22 05:29] #234 closed

[2019-10-22 17:35] MTrab opened #235 "Light not showing correctly in frontend"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
When viewing the example in the editor window, the light entity (only on/off lights without dimming or color options have this issue) is shown correctly - when viewed in the frontend, the light entity is not showing the current "state" (coloring the icon and the shad

[2019-10-23 15:38] Limych opened #236 "Opens an unnecessary entity more-info dialog"
**Checklist**
- [*] I updated the card to the latest version available
- [*] I cleared the cache of my browser

**Describe the bug**
Then the button is used inside the entities card, the default action (toggle), in addition to this action, also opens an more-info dialog for the entity. This greatly interferes with use of button.

This happens on both the computer and the phone.

**Version of the c

[2019-10-23 17:09] RomRider commented on #236
Duplicate of #200

[2019-10-23 17:09] #236 closed

[2019-10-23 20:40] f00dagi commented on #229
Thanks for the reply, I combined with slider-entity-row and got the desired functionality. Layoutwise it is not looking that nice though since the slider-entity-row in not that customizable. I will wait for your next release and see what that brings. Thanks.

[2019-10-23 20:40] #229 closed

[2019-10-29 21:32] kirbyschapman opened #237 "State not overloading in button_card_templates when in include file"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
I have two templates that reflect the state of a binary sensor. The purpose is to show a specific icon in a specific color when the binary sensor is on. A different icon in a different color is shown when the binary sensor is off.

The first template does the above.

[2019-10-30 03:01] broyuken opened #238 "operator in between"
I have a sensor in my car that will open my garage door when my car pulls up to it, or starts in the garage. This sensor also provides signal strength so I know if my car is coming or going. If the signal strength is 40-50 the car is in the garage, if it's 50-75 it's in the driveway, if it's above that the car has left the driveway and is away.

I want to have an operator in the button card to sho

[2019-10-30 18:07] RomRider commented on #238
Something like this would cover your use case (order is important):
[code]

[2019-10-30 18:17] broyuken commented on #238
Thank you, that worked perfectly!

[2019-10-30 20:19] RomRider commented on #235
Can I see your `button_light` template and also the detailed state (with brightness value and all) of one of the problematic entity please?

[2019-10-31 04:34] CMaxim77 opened #239 "Template support for embedded cards config"
First, Thank You for everything you do for our community and the future of this passion of ours!

I just wanted to know if it would be possible to template embedded cards?

ie:

            custom_fields:
                slider:
                  card:
                    type: custom:slider-entity-row
                    full_row: true
                    hide_state: true
                    hide

[2019-11-01 10:44] vMeph opened #240 "update from version 2.0.5 to 3.0.0 the HA loses connections"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
when i try update from version 2.0.5 to 3.0.0 the HA loses connections, this happens with 3 instances of the homeassistant, then the only way to get back to HA is to reboot the systems
using homeassitant version 0.100.0

**Version of the card**
Version: 3.0.0

**Desk

[2019-11-01 11:23] vMeph commented on #240
it seems that version 0.1011 fix the problem

[2019-11-01 11:23] #240 closed

[2019-11-04 13:57] jayheavner opened #243 "Installation link returns 404"
Just FYI. The download link is referencing /dist which isn't in the repo. Simple enough to clone, install, and build but it might trip some folks up.

[2019-11-04 14:19] RomRider commented on #243
Thanks, I'll fix that. The file is in the release section of the repository no need to build it yourself.

[2019-11-05 16:59] jayheavner opened #244 "Dynamically return color"
I'm trying to set a color based on light brightness but it's not working. It's always black.

Here's an example:
[code]

However, this does work.
`      color: "${states['light.living_room'].attributes.brightness < 50 ? 'rgb(255, 255, 0)' : 'rgb(255, 255, 125)'}"
`

If I move it to the name attribute just to check it returns as expected:
[code]

Actually, this also works
[code]

[2019-11-05 17:13] RomRider commented on #244
You can just use `color: auto` it will result in what you want to do.

[2019-11-05 18:13] jayheavner commented on #244
Oh, that's super easy. Can I change the base color?

[2019-11-07 06:09] RomRider commented on #244
What do you mean by base color?

[2019-11-07 23:57] Mariusthvdb opened #245 "add support for variables"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-10 15:44] fmonday commented on #195
This issue appears to have recurred... I'm seeing this exact behavior on iOS 13.2 on both an iPad Pro and an iPhone XS Max, and on both mobile Safari and the HA iOS companion app. As described above, the issue doesn't exist on Safari desktop. I tried explicitly defining the action as toggle, but that didn't help.
Button card version 3.0.0.
[code]

[2019-11-10 15:53] fmonday opened #247 "Reopen issue #195"
**Checklist**
- [x ] I updated the card to the latest version available
- [x ] I cleared the cache of my browser

**Describe the bug**
Toggle action on iOS platforms causes the entity to turn on and then immediately off unless a ~1-second hold is perfectly executed.

**Version of the card**
3.0.0

**To Reproduce**
see my addendum to issue #195

[2019-11-11 13:03] m90att commented on #243
Tripped me up.  where can i get the .js file to install please?  I can't see a release section

[2019-11-11 22:27] RomRider commented on #243
Here: https://github.com/custom-cards/button-card/releases

[2019-11-15 05:12] iantrich commented on #247
Can confirm. Seeing the same issue in my custom cards and is also present in core.

[2019-11-24 13:29] aleksandar-todorovic opened #248 "Weird behavior in conjuction with custom:vertical-stack-in-card"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**

When used from within [vertical-stack-in-card](https://github.com/custom-cards/vertical-stack-in-card), the buttons don't get their background color applied until after I refresh the page.

**Version of the card**
Version: 3.0.0

**To Reproduce**
The configuration o

[2019-11-24 20:36] GillesC opened #249 "Action of stop holding the button"
Can we trigger a service or other action when the button is no longer pressed?
If not, are there any pointers on implementing this, so I can make a PR?

[2019-11-26 19:23] nenadmilano commented on #195
got the same issue while using the home assistant app on my ipad air 2 (iPad OS). When creating an Safari "app" it works fine.

[2019-11-27 14:11] gonzotek commented on #249
I'm looking for this functionality as well.  I wrote up my use case here: https://community.home-assistant.io/t/lovelace-button-card/65981/2725?u=gonzotek

[2019-11-27 16:47] iantrich commented on #249
https://github.com/custom-cards/button-card/blob/master/src/long-press.ts#L137

[2019-11-27 18:18] Mariusthvdb commented on #249
Shouldn’t this be called ‘release’ ? Has a better ring to it than ‘click-end’

[2019-11-27 18:27] GillesC commented on #249
I personally do not mind the click-end because it clearly indicates its function.
@iantrich, I am not familiar with the framework. I suppose that you need to fire an event `new Event('ha-endClick')`  and define a new function in button-cards.ts similar to this:
[code]

[2019-11-27 18:43] iantrich commented on #249
Would be within the isRepeating check, I think.

[2019-11-27 18:53] RomRider commented on #249
That would work only with if the `repeat` option is enabled, because without, the "stop holding the button" event triggers the actual `hold_action.
It's quite easy to implement, but that would only compatible with `ha_hold` with `repeat` enabled.

[2019-11-27 19:06] iantrich commented on #249
I guess I didn't consider someone not using repeat with this...?

[2019-11-27 20:05] gonzotek commented on #249
For my use case, I would need it working like a momentary switch - an event leading to a defined Action on mousedown/touchstart, and another event leading to a different Action on mouseup/touchend.  In my case it would be turning on a relay switch when held down, then switching the relay off when released.

[2019-11-27 20:15] GillesC commented on #249
@gonzotek, I have the same use case. I will try to see how to implement this. As I am unfamiliar with the framework and TypeScript, I cannot guarantee that it will be according to the best practices.

[2019-11-27 21:26] GillesC commented on #249
It looks to me that it is already sending an event when the clicks 'ends', see https://github.com/custom-cards/button-card/blob/master/src/long-press.ts#L156-L158.
And why do you add clickEnd as a listener (opposed to clickStart) to the click event? https://github.com/custom-cards/button-card/blob/master/src/long-press.ts#L194

[2019-11-27 21:57] RomRider commented on #249
@iantrich, the way I understand it is that @gonzotek and @GillesC want a way to trigger an action on the start of the hold and on release. Which is opposite to how it works today since we trigger on release.
I can try something but there's no guarantee this will work... I hate events 😂

[2019-11-27 22:02] GillesC commented on #249
@RomRider I made PR. :)

[2019-11-28 19:06] xerxes87 opened #251 "manual installation file from readme throws 404."
Opening manual installation file from readme  throws 404.

[2019-11-29 14:24] houseautomated opened #252 "Support for data_template in call-service"
**Is your feature request related to a problem? Please describe.**
I'd like to pass a sensor attribute through as part of the data of my call-service action

**Describe the solution you'd like**
Either support of a new `data_template` or `service_data_template` function that would pass the sensor data through as it does with `data_template` [here](https://www.home-assistant.io/docs/automation/temp

[2019-11-29 14:29] GitHubLuigi commented on #251
Hi,

You can download the file here:
https://github.com/custom-cards/button-card/releases/download/3.0.0/button-card.js

And after that you should add the version number (3.0) to the url in the raw editor:
 - type: module
    url: /local/button-card.js?v=3.0

Then it works great!

[2019-11-29 14:37] RomRider commented on #252
You can already use templates in `service_data`:
[code]

[2019-11-29 20:13] houseautomated commented on #252
Man I feel stupid. I even had the same format further up in my code but didn't try it in `service_data`. I tried everything else!

Thanks @RomRider

[2019-11-29 20:13] #252 closed

[2019-12-04 02:45] przemo opened #253 "Strange behavior when calling a service and accidentally using wrong yaml syntax."
I stumbled upon weird behavior when calling a service executing a script.

Example code of mine Lovelace configuration:
[code]

I accidentally typed instead of `service_data:` - `data:` and all mess happened when I pressed the button. Believe me or not, but it turned on my vacuum cleaner, some random set of lights and turn on my TV set (via Harmony) . I guess it runs all the scripts that were rece

[2019-12-04 17:22] iantrich commented on #253
This is not a bug in button-card nor is it is a bug in Home Assistant. If you call `script.turn_on` and don't restrict it by `entity_id`, it will call all scripts.

[2019-12-04 17:22] #253 closed

[2019-12-06 22:57] fmonday commented on #247
I've been experimenting with this, and for some reason the issue is far more pronounced using the HA iOS app on an iPad pro than it is on an iPhone. Maybe that's helpful somehow.

[2019-12-07 07:53] r3mcos3 opened #254 "Weird issue with latest beta"
**Checklist**
- [* ] I updated the card to the latest version available
- [* ] I cleared the cache of my browser

**Describe the bug**
Since latest beta 0.103.0b0

i've have a error in log and it doesn't toggle my cover

`Log Details (ERROR)
Sat Dec 07 2019 08:44:29 GMT+0100 (Midden-Europese standaardtijd)
must contain at least one of entity_id, area_id.
Traceback (most recent call last):
  File "

[2019-12-07 10:34] RomRider commented on #254
You're missing `service_data` with the `entity_id` in your `tap_action`

[2019-12-07 12:10] r3mcos3 commented on #254
Done what you sad, now it's working again.

but it worked on the latest stable, the way i had it

[2019-12-08 07:47] #254 closed

[2019-12-09 10:34] YamiFrankc opened #255 "Color depending on state stopped working after update."
Hello. Im having a problem with a card for a ceiling fan that changes color depending on the fan speed.
I had this working before(months ago) and I just now have time to fix it. The card is stuck in a state forever. I tried looking at it and changes in the yaml for the updates, but cant really find what is wrong.

[code]

[2019-12-10 19:39] wixoff commented on #247
Confirmed here too, on my iPad 2018 but seemingly not on my iPhone 7 plus.  Both using iOS Companion 2.0 from the app store.

[2019-12-11 01:17] przemo commented on #253
Thanks for explaining it.

[2019-12-12 18:58] daphatty opened #256 "[FR] Support for multiple entities"
I'd like to request the addition of support for multiple entities, similar to the way auto-entities can inject and create multiple unique entries within the same card based on filtered criteria (i.e. all entities within a light and switch domain). The ultimate goal would be to enable auto-button-card creation for any entity that meets the filtered criteria, which would be especially useful when ad

[2019-12-21 21:02] johntdyer commented on #229
@f00dagi  - Do you have an example of where you landed on this ? I/m trying to accomplish the same thing right now

[2019-12-21 21:57] f00dagi commented on #229
Using a combination of different cards.

![18919875-3023-44E7-819A-9EAB2343D9D5](https://user-images.githubusercontent.com/56124786/71314262-3c3a0480-2445-11ea-8662-61d8977b87c6.png)
![D0EC9BFB-5D15-4121-B7F2-4475B1FD5858](https://user-images.githubusercontent.com/56124786/71314263-3cd29b00-2445-11ea-952e-8ce1b67a8995.png)

[2019-12-22 12:10] Mariusthvdb commented on #229
Would you please also share the template_switch_slider template ? Thanks looking quite the card👍

[2019-12-22 12:55] f00dagi commented on #229
[cid:DACA6E49-223D-4B51-B6E5-30A91EB4655B-L0-001]

-Daniel

On 22 Dec 2019, at 13:10, Marius <notifications@github.com> wrote:

﻿

Would you please also share the template_switch_slider template ? Thanks looking quite the card👍

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://eur05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgith

[2019-12-22 12:57] f00dagi commented on #229
![5850210E-58C5-428C-9CCB-CB03369FF27C](https://user-images.githubusercontent.com/56124786/71322059-076c9280-24c3-11ea-827b-3c8430ac71c7.png)

[2019-12-22 15:29] elsingaa opened #258 "button-card resizing shows dot above label"
**Checklist**
- [X] I updated the card to the latest version available
- [X] I cleared the cache of my browser

**Describe the bug**
Button-card is showing a dot above label text when the available width of the card gets smaller than a certain size.

**Version of the card**
Version: 3.0.0

**To Reproduce**
This is the configuration I used:
[code]

**Screenshots**
<img width="334" alt="Screenshot 2

[2019-12-22 16:19] Mariusthvdb commented on #229
not to be a pain, but could you simply copy and paste the code, instead of showing screenshots? Makes it so much easier... ;-)

[2019-12-22 23:27] f00dagi commented on #229
Not that easy on a mobile device but here we go...

[code]

[2020-01-02 14:11] inspire1989 opened #259 "Automatic button width"
Hi!
I'm using the button card in several places - thanks a lot for the awesome work! :)

In one case I try align the image and label next to each other which indeed works thanks to the layout: icon_label feature. However, the width of the card is not adjusted properly - or I have no clue how to do it:

[code]
Shows it like this:
![image](https://user-images.githubusercontent.com/2980934/71670948-e

[2020-01-02 17:52] Alexxander0 opened #260 "Icon color difference"
**Checklist**
- [x ] I updated the card to the latest version available
- [ x] I cleared the cache of my browser

**Describe the bug**
A clear and concise description of what the bug is.
I have 2 cards, but both Icon color are different

The icon of the first button gets the color from --paper-item-icon-color
The secon one from --primary-text-color

Do I have any errors in my configuration? Tried

[2020-01-02 18:04] RomRider commented on #260
That's probably because of the `variable` entity type. I've never tried with that custom element. Can't you use a sensor instead? Like a sensor template?

Anyway, I'll test and report back.

[2020-01-02 20:12] #259 closed

[2020-01-02 20:13] inspire1989 commented on #259
the solution was

grid-template-columns: auto auto

[2020-01-02 22:11] Alexxander0 commented on #260
Hi,

i think the problem is the sensor. Its a template sensor:

[code]
It doenst matter if i set the icon with icon_template or with the icon property in the frontend.
The color always looks different compare to all other entities (like switches etc., the variable.* entities seem to be the correct one)
Am i missing something in my template_sensor? Already tried deviceclass, and so on. Doenst seem

[2020-01-03 18:16] RomRider commented on #243
Duplicate of #251

[2020-01-03 18:16] RomRider commented on #243
Fixed in 6dc0573cf7a5802da96c2c1b20009fd5f5e120e1

[2020-01-03 18:16] #243 closed

[2020-01-03 18:17] RomRider commented on #251
Close in 6dc0573cf7a5802da96c2c1b20009fd5f5e120e1

[2020-01-03 18:17] #251 closed

[2020-01-03 18:20] RomRider commented on #258
It's not a dot, it's the icon, that's how the card works :) the icon scales with the size of the card, there's not other way to change this behaviour.
The card will always try to display the icon (even if it's super small) so use `show_icon: false` :)

[2020-01-03 18:20] #258 closed

[2020-01-03 18:23] RomRider commented on #255
Which state is it stuck in?
Are you sure about the value of `fan_mode`? Can you show me a screenshot of the state of your entity from the dev panel?

[2020-01-03 18:26] RomRider commented on #260
Ok, I see, that's the expected behaviour for entities that do not have a `on` or `off` state. It mimics the behaviour of the default lovelace button card.
If you want to change that just add `color: var(--primary-text-color)` to your config.

Please close the issue if that fixes it :)

[2020-01-03 18:31] RomRider commented on #256
That would be another card actually. We already had some discussion about it on the forum. I'll see if I can come up with something that is not too hacky.

[2020-01-03 18:36] RomRider commented on #248
That's a known behaviour with `vertical-stack-in-card`. It's unrelated to `button-card` so I'm going to close it.

I used to use https://github.com/thomasloven/lovelace-card-loader to fix that issue, but i't s now deprecated and didn't check further in the `vertical-stack-in-card` code base for a potential fix.

[2020-01-03 18:38] #248 closed

[2020-01-03 18:39] #237 closed

[2020-01-03 18:39] #235 closed

[2020-01-03 18:41] RomRider commented on #239
I'll add this to the next release 👍

[2020-01-03 18:42] #223 closed

[2020-01-03 18:42] #244 closed

[2020-01-03 19:20] iantrich commented on #256
This can already be done with layout-card: https://github.com/thomasloven/lovelace-layout-card#a-few-tips

[2020-01-03 19:21] #256 closed

[2020-01-03 19:57] RomRider commented on #247
Will be fixed in the next release.

[2020-01-03 21:38] Alexxander0 commented on #260
Guess that will fix it, but at least for me this seems a bit inconsistent and confusing.
As its not stated anywhere (at least where if found) And also, I dont see why the Icon should have --primary-text-color, as its obviously not a text
I'll close. Thanks for the great work anyway.

[2020-01-03 23:03] johntdyer commented on #229
@f00dagi  - Any chance you can paste w/o the unicode ?  I am having a hard time getting it to work w/ those replaced w/ spaces... thinking something got lost in translation :)

[2020-01-04 11:38] Mariusthvdb opened #262 "Button card causes error in cast.home-assistant.io"
**Checklist**
- [ ] I updated the card to the latest version available
- [ ] I cleared the cache of my browser

**Describe the bug**
A clear and concise description of what the bug is.

When casting from Chrome to my Google Hub (https://cast.home-assistant.io/), I see the instance, but all button cards are red, with error 'cannot read property 'config' of null'

**Version of the card**
Version:
3.

[2020-01-04 13:02] drthanwho opened #263 "Lock / Confirmation option showing up depending on state"
**Is your feature request related to a problem? Please describe.**
The lock or confirmation option is available at any given state of an entity (unless I haven't worked out how to do it). For example, a 'sensitive' button should be locked or give you a popup to confirm action, but there's no reason for this if you're turning entity state to 'off'.

E.g.

- Turning on an alarm/buzzer/garage door --

[2020-01-04 13:11] RomRider commented on #263
`enabled` supports templating so you can already achieve that with:
[code]

[2020-01-04 16:50] johntdyer commented on #229
@f00dagi  just to follow up.. I am asking because I am getting this

<img width="239" alt="PNG image" src="https://user-images.githubusercontent.com/58234/71768836-2ff38400-2ee8-11ea-943e-748753944b35.png">

Using your template code w/ the following yaml and not seeing any slider and I dont understand why ...

[code]

[2020-01-04 17:15] drthanwho commented on #263
Ah, I thought something like that would already exist! Thanks

[2020-01-04 17:15] f00dagi commented on #229
The button code on ui-lovelace.yaml
[code]
and the template code in ui-lovelace.yaml
[code]

and in paths to custom components in ui-lovelace.yaml (these are the ones I have I dont think you need them all)
[code]
and of course you need the custom components installed onto your system, either manually or via HACS if they are available there.

I would guess you need
https://github.com/custom-cards/v

[2020-01-04 17:19] #263 closed

[2020-01-05 11:52] RomRider commented on #262
@Mariusthvdb fixed in the next release :)

[2020-01-05 12:04] RomRider commented on #260
You have the same behaviour with the core button card as far as I know. This is why I did it like this in the first place.
But I think it's written in the documentation: https://github.com/custom-cards/button-card/blob/master/README.md#main-options in the `color` parameter

[2020-01-05 12:04] #260 closed

[2020-01-05 12:54] RomRider commented on #239
This will be the solution once the next version is released: `entity: '[[[ return entity.entity_id ]]]'`

[2020-01-05 13:27] RomRider commented on #245
Will be available in the next release :)

[2020-01-05 14:53] #239 closed

[2020-01-05 14:53] #245 closed

[2020-01-05 14:53] #262 closed

[2020-01-05 14:53] #247 closed

[2020-01-06 09:25] YamiFrankc commented on #255
![image](https://user-images.githubusercontent.com/153349/71808600-d4361180-3033-11ea-8884-419a88e8390e.png)
Hi, yes.  Its stuck on "Inteligente", which is the first one of the states. If I try to delete that then it gets stuck on Rapido and so on

[2020-01-06 10:02] RomRider commented on #255
oh I see... Templates needs to be enclosed in `[[[ ]]]`. You probably updated from a very old version...
So for example:
[code]

[2020-01-07 00:23] YamiFrankc commented on #255
thank you! that was it

On Mon, Jan 6, 2020, 04:03 Jérôme W. <notifications@github.com> wrote:

[2020-01-07 01:09] #255 closed

[2020-01-07 09:49] RomRider commented on #224
Did you try to embed the input_select in a custom field?

[2020-01-07 18:46] jimz011 commented on #224
Hey, long time no see @RomRider I hope you are doing well.

Anyways, yes I believe I did try (long time ago though). But it makes the entire card show up inside a button card. What I had wished for was a button like any other button but when pressed instead of navigating or service call it would show an input_select dropdown menu.

Example: when pressing the menu icon (this is a button-card) it wi

[2020-01-07 18:56] iantrich commented on #224
I don't see how this would fall within the realm of the button-card. It sounds like you're wanting an element for input_select, more so, which could be a nice addition to core or a custom element, but not the button-card itself

[2020-01-07 19:03] jimz011 commented on #224
Yes and no, I wish for button-card as it is the best looking card out there. And yes I actually want the input_select element to be opened when pressing on the button.

Like I said I understand that this might seem to not be handy. But input_select dropdown menus can only be called with an entities card (not even with a core button) which is too bad. But it is alright, I have created a view which

[2020-01-13 04:04] broyuken opened #265 "Icon replaced for garage door cover"
**Checklist**
- [ x] I updated the card to the latest version available
- [ x] I cleared the cache of my browser

**Describe the bug**
A clear and concise description of what the bug is.
Using this card, it changes the icon of my cover (garage door) from a garage door to some weird rectangle icon that maybe sort of looks like a garage door.

**Version of the card**
Version: 3.1.1

**To Reproduce**

[2020-01-13 06:23] RomRider commented on #265
You probably didn't set the icon in the entity configuration in HA.
button-card doesn't invent the icon by itself.

[2020-01-13 13:32] broyuken commented on #265
Then why does the entity button work just fine, just this card doesn’t?

[2020-01-13 13:42] RomRider commented on #265
It's not displaying the same entity, so I can't say :)

[2020-01-13 18:35] broyuken commented on #265
If I change the entity to be the same it still does it. Need another screenshot for proof?

[2020-01-13 23:02] RomRider commented on #265
Can you share the configuration of both of your entities (from the ha config, not from lovelace).
Else you can redefine the icon in button card with `icon: xxx` or a template.

[2020-01-14 02:01] broyuken commented on #265
They are both from the chamberlain integration, not much of a config.

It looks like your card doesn't take into consideration the device_class

friendly_name: Left Garage Door
supported_features: 3
device_class: garage
![image](https://user-images.githubusercontent.com/1593391/72307317-e02f5e00-3647-11ea-957f-977dc77f7306.png)

[code]
These are all cards with 0 config. The only thing I changed fr

[2020-01-15 10:26] Mariusthvdb opened #266 "allow state (Display) template"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

to display a ':' after the entity state on the button

**Describe alternatives you've considered**
A clear and concise description of any alt

[2020-01-15 10:28] RomRider commented on #266
You can use a custom field for that. There's no way to template the state while maintaining some consistency in the configuration.

I won't implement that as there is an alternative solution which is nicer :)

[2020-01-15 10:32] Mariusthvdb commented on #266
just to be sure you know I understand the state won't be templatable, I do.

Thats why I asked for stateDisplay. Wouldn't that be much easier and straightforward than adding a custom field for this? Original custom-ui did it, and that worked wonderfully: https://github.com/andrey-git/home-assistant-custom-ui/blob/master/docs/templates.md#special-attributes

[2020-01-18 16:38] basnijholt opened #267 "button's color doesn't change correctly after frontend.set_theme"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
Upon running `frontend.set_theme` the buttons do not correctly change colors.
Only upon refreshing the page will correctly set the button's colors.

###  -----> [This video shows the problem](https://imgur.com/jDspCmh). <-----

**Version of the card**
Version: 3.1.1

[2020-01-18 18:16] septeven opened #268 "Slider-entity-row + CSS styling with card-mod problem when embedded into button-card"
Hello there,

I'm using button-card along with Thomas Loven's card mod and slider-entity-row.
The slider is embedded into a button-card as a custom-field that controls a light entity. That part works perfectly.

I'm also applying some CSS rules to this slider (using card-mod), and I've correctly figured out how to to proceed. That part works too, BUT the slider won’t keep the CSS styling - after a

[2020-01-19 15:28] krasatos opened #269 "Possible to call more-info for a different entity_id?"
What i am trying to do is bring the more-info page of a different entity when long pressing.
In my case, tap-action enables the radiator with a 90 minute timer, and i would like to bring up the more-info page of the input_number that defines the timer.
Something like this:

[code]
Would that be possible somehow?
Perhaps there's a service i can manipulate to bring the more-info screen?

[2020-01-20 03:34] SamLewis0602 opened #270 "double_tap_action and hold_action break tap_action on iOS 13"
**Checklist**
- [x] I updated the card to the latest version available
- [x] I cleared the cache of my browser

**Describe the bug**
If I have double_tap_action and tap_action set on a button, the double_tap_action is executed on both single and double taps.
If I have hold_action and tap_action set on a button, single tap events seem to trigger twice. It will turn lights on and immediately off aga

[2020-01-20 05:37] SamLewis0602 commented on #270
I got this issue to clear up by clicking "reinstall" on the button-card in HACS. Hope this helps somebody else out there.

[2020-01-20 05:37] #270 closed

[2020-01-20 07:04] Mariusthvdb opened #271 "No pictures displayed on Cast"
**Checklist**
- [ ] I updated the card to the latest version available
- [ ] I cleared the cache of my browser

**Describe the bug**
A clear and concise description of what the bug is.

None of the pictures configured in the button cards are displayed when using Cast, all showing empty placeholders.

**Version of the card**
Version:
3.1.1
**To Reproduce**
This is the configuration I used:
[code]

[2020-01-20 07:10] Mariusthvdb opened #272 "More-info anomaly on rightside iPhone screen"
**Checklist**
- [ ] I updated the card to the latest version available
- [ ] I cleared the cache of my browser

**Describe the bug**
A clear and concise description of what the bug is.

been seeing this for a while, but because of some dark background on my buttons, didn’t really see the issue.
disabled the color, and then see it more clearly: on my iPhone, doing a more-info on hold action on butt

[2020-01-20 07:16] RomRider commented on #272
A recording of the screen when this happens would be nice. I don't own an iPhone to test unfortunately.

Thanks

[2020-01-20 07:38] Mariusthvdb commented on #272
![20200120_071943000_iOS](https://user-images.githubusercontent.com/33354141/72707200-30368500-3b60-11ea-886b-6e4780309b85.gif)

please let me know this is clear enough

[2020-01-20 17:54] broyuken commented on #265
Hello,

Is this something that could be taking into account?

[2020-01-20 18:18] RomRider commented on #265
I'll work on that for the next release ;)

[2020-01-21 17:23] thib5 opened #273 "Is there a way to apply style to state"
Hi, I have an input_text that have state like '< b >Good Morning< / b >< br >Hope you'r going great'

If I show the state in the button card it does not show the style

is it possible to do ?

[2020-01-21 22:26] RomRider commented on #273
Try with label instead:
[code]

[2020-01-22 17:55] Korte68 opened #274 "Change icon and colour based on a sensor state instead of based on the button state"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Change icon and colour based on a sensor state instead of based on the button state

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and